<table border="0" cellpadding="0" cellspacing="0" width="800" class="blue-line">
  <tbody>
    <tr style="border: 0; background: #ffffff">
      <td colspan="2" style="background-color:#003399; width:800px; height: 4px; border: 0;" valign="top"></td>
    </tr>
  </tbody>
</table>

<table border="0" cellpadding="28" cellspacing="0" width="800" style="font-family: Oswald, Arial,sans-serif;">
  <tbody>
    <tr style="border: 0; background: #ffffff">
      <td  style="border: 0; background: #ffffff">
        <a data-cke-saved-href="https://osha.europa.eu/modules/custom/short_message/images/" href="https://osha.europa.eu/modules/custom/short_message/images/">
          <img data-cke-saved-src="https://osha.europa.eu/modules/custom/short_message/images/Osha-EU-logos.png" src="https://osha.europa.eu/modules/custom/short_message/images/Osha-EU-logos.png" alt="European Agency for Safety and Health at Work" />
        </a>
      </td>
      <td style="border: 0; background: #ffffff">
        <div class="newsletter-number" style="color: #003399; font-size: 24px; font-weight: 300; text-align: right;">{% trans %} EU-OSHA news {% endtrans %}</div>
      </td>
    </tr>
  </tbody>
</table>

<table border="0" cellpadding="28" cellspacing="0" width="800">
  <tbody>
    <tr style="border: 0; background: #ffffff">
      <td style="padding-top: 0px; padding-bottom: 0px; border: 0; background: #ffffff">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr class="blue-line">
              <td style="background-color:#003399; width: 100%; height: 4px;"></td>
            </tr>

            <tr style="border: 0; background: #ffffff">
              <td>
                <table border="0" cellpadding="15" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td style="font-size: 12px; padding-left: 30px; padding-right: 30px; font-family: Arial, sans-serif; background: #ffffff;">
                        <a href="https://osha.europa.eu/bg/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="bg">
                          Български |
                        </a>
                        <a href="https://osha.europa.eu/cs/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="cs">
                          Čeština |
                        </a>
                        <a href="https://osha.europa.eu/da/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="da">
                          Dansk |
                        </a>
                        <a href="https://osha.europa.eu/de/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="de">
                          Deutsch |
                        </a>
                        <a href="https://osha.europa.eu/et/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="et">
                          Eesti |
                        </a>
                        <a href="https://osha.europa.eu/el/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="el">
                          Ελληνικά |
                        </a>
                        <a href="https://osha.europa.eu/en/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="en">
                          English |
                        </a>
                        <a href="https://osha.europa.eu/es/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="es">
                          Español |
                        </a>
                        <a href="https://osha.europa.eu/fr/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="fr">
                          Français|
                        </a>
                        <a href="https://osha.europa.eu/hr/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="hr">
                          Hrvatski |
                        </a>
                        <a href="https://osha.europa.eu/it/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="it">
                          Italiano |
                        </a>
                        <a href="https://osha.europa.eu/is/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="is">
                          Íslenska |
                        </a>
                        <a href="https://osha.europa.eu/lv/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="lv">
                          Latviešu |
                        </a>
                        <a href="https://osha.europa.eu/lt/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="lt">
                          Lietuvių |
                        </a>
                        <a href="https://osha.europa.eu/hu/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="hu">
                          Magyar |
                        </a>
                        <a href="https://osha.europa.eu/mt/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="mt">
                          Malti |
                        </a>
                        <a href="https://osha.europa.eu/nl/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="nl">
                          Dutch |
                        </a>
                        <a href="https://osha.europa.eu/no/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="no">
                          Norwegian |
                        </a>
                        <a href="https://osha.europa.eu/pl/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="pl">
                          Polski |
                        </a>
                        <a href="https://osha.europa.eu/pt/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="pt">
                          Português |
                        </a>
                        <a href="https://osha.europa.eu/ro/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="ro">
                          Română |
                        </a>
                        <a href="https://osha.europa.eu/sk/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="sk">
                          Slovenčina |
                        </a>
                        <a href="https://osha.europa.eu/sl/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="sl">
                          Slovenščina |
                        </a>
                        <a href="https://osha.europa.eu/fi/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="fi">
                          Suomi |
                        </a>
                        <a href="https://osha.europa.eu/sv/node/{{ node_id }}" style="text-decoration: none; color: #003399;" hreflang="sv">
                          Svenska |
                        </a>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="blue-line" style="border: 0; background: #ffffff">
              <td style="background-color:#003399; width: 100%; height: 4px;"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
