{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set embargo_date =  content['#node'].field_pr_embargo_date.value %}
{% set publication_date =  content['#node'].field_publication_date.value %}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

{{ title_suffix.contextual_links }}
{{ drupal_block("osha_workflow_block") }}
{% if content.1 %} {{ content.1 }}{% endif %}
<div class="h1-back-wrapper">
  <h1>{{'Press releases' | trans}}</h1>
  <a href="/about-eu-osha/press-room" class="pull-right-flex back-to-link">{{ 'Back to press releases' | trans }}</a>
</div>
<div class="date-status">
    {% if(embargo_date != null and date(embargo_date) >= date(publication_date))%}
      <span>{{ "Hold on for press release until" | trans }} {{ embargo_date | date("d/m/Y - H:i")}}</span>
    {% endif %}
    {% if(embargo_date is empty or embargo_date is null or date(embargo_date) <= date(publication_date))%}
      <span>   {{ "For immediate release" | trans}} - {{ publication_date | date("d/m/Y - H:i") }}</span>
    {% endif %}
  </div>
{{ ds_content }}

</{{ ds_content_wrapper }}>
