{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>
  {{ title_suffix.contextual_links }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    <div class="aditional-publications">
      <div class="publications-left-column">
        {% if (ds_content.field_image_media.0) %}
          {{ ds_content.field_image_media }}
        {% else %}
          <img src="{{ relatedImg.en }}" alt="{{ coverImg.0.alt }}" width="155" height="220" loading="lazy" typeof="foaf:Image" class="image-style-cover-images">
        {% endif %}
      </div>
      <div class="publications-detail-right-column">
        <div class="content-publication-info">
          <time class="datetime">
            {{ ds_content.group_related_resources_content.group_content.group_rr_wrapper_fields.field_publication_date.0['#text'] }}
          </time>
          <div class="content-label">
            <span class="label">{{ 'Type:' | trans }}</span>
            <span class="field">{{ ds_content.group_related_resources_content.group_content.group_rr_wrapper_fields.field_publication_type.0['#plain_text'] }}</span>
          </div>
          <div class="content-label">
            {% set pages = ds_content.group_related_resources_content.group_content.group_rr_wrapper_fields.field_pages_count.0['#markup'] %}
            <span class="custom-number">{{ pages }} {{ 'pages' | trans }}</span>
          </div>
        </div>
    </div>
  </div>
</article>
</{{ ds_content_wrapper }}>
