{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}

{#
 * External Inforgraphic iframe /en/tools-and-publications/infographics/how-manage-dangerous-substances
#}
<article{{ attributes.addClass(classes) }}>
  <div class="pull-right">
    <a href="/tools-and-resources/infographics" class="pull-right-flex back-to-link">{{ 'Back to Infographics' | trans }}</a>
  </div>
  <h1>{{ label }}</h1>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content }}
  </div>
</article>

<div class="download-img">
  <span class="label_multilang_file">
    {{ 'Access the infographic in:' | trans }}
  </span>
  <!-- TO DO  -->
  <a class="link-download external-infographic-link"  href="/bg/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=bg">BG</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/cs/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=cs">CS</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/da/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=da">DA</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/de/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=de">DE</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/el/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=el">EL</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/en/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=en">EN</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/es/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=es">ES</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/et/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=et">ET</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/fi/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=fi">FI</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/fr/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=fr">FR</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/hr/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=hr">HR</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/hu/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=hu">HU</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/is/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=is">IS</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/it/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=it">IT</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/lt/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=lt">LT</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/lv/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=lv">LV</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/mt/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=mt">MT</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/nl/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=nl">NL</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/no/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=no">NO</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/pl/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=pl">PL</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/pt/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=pt">PT</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/ro/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=ro">RO</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/sk/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=sk">SK</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/sl/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=sl">SL</a>
  <span class="separator"> | </span>
  <a class="link-download external-infographic-link"  href="/sv/tools-and-publications/infographics/how-to-manage-dangerous-substances/how-to-manage-dangerous-substances-infographic?lan=sv">SV</a>
  <span class="separator"> | </span>
</div>
