<div class="content-count">
  <div class="content-count-item"> <div class="count-item__label">{{ 'News'|t }}</div> <span class="count-item__number"><a href="{{ counters.news.href }}">{{ counters.news.count }}</a></span></div>
  <div class="content-count-item"> <div class="count-item__label">{{ 'Oira Tools'|t }}</div> <span class="count-item__number"><a href="{{ counters.practical_tool.href }}">{{ counters.practical_tool.count }}</a></span></div>
  <div class="content-count-item"> <div class="count-item__label">{{ 'Promotional resources'|t }}</div> <span class="count-item__number"><a href="{{ counters.promotional_resources.href }}">{{ counters.promotional_resources.count }}</a></span></div>
</div>
