<div class="content-count">
  <div class="content-count-item"> {{ 'Oira Tools'|t }} <span><a href="{{ counters.practical_tool.href }}">{{ counters.practical_tool.count }}</a></span></div>
  <div class="content-count-item"> {{ 'News'|t }} <span><a href="{{ counters.news.href }}">{{ counters.news.count }}</a></span></div>
  <div class="content-count-item"> {{ 'Promotional resources'|t }} <span><a href="{{ counters.promotional_resources.href }}">{{ counters.promotional_resources.count }}</a></span></div>
</div>
