{% extends "page.html.twig" %}

{% block content %}
<div class="breadcrumb-fluid">
  <div class="container"> {{ page.breadcrumb }}</div>
</div>
<div class="container">
  <div class="row">
    <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
      <nav role="navigation" aria-labelledby="block-mainnavigation-2--2-menu" id="block-mainnavigation-2--2" class="contextual-region block block-menu navigation menu--main">
        {{ drupal_menu('main') }}
      </nav>
      {{ page.sidebar_first }}
    </aside>
    <div id="main" class="col-12 col-lg-6 three-column mx-auto">
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
    <aside class="section col-12 col-lg-3 sidebar-second" role="complementary">
      <h2 class="related">{{ 'Related' | trans }}</h2>
      <div class="related-views">
        {{ page.sidebar_second}}
      </div>
    </aside>
  </div>
</div>
{% endblock %}
