{% extends "page.html.twig" %}


{% block content %}
<div class="breadcrumb-fluid">
  <div class="container"> {{ page.breadcrumb }}</div>
</div>
<div class="container node-event-twig-custom">
  <h1>{{ 'Events' | trans }}</h1>
  {{ drupal_entity('node', 5322) }}
</div>
<div class="content-fluid">
  <div class="container">
    <h2>{{ 'EU-OSHA Events Summaries' | trans }}</h2>
    {{ drupal_view('eu_osha_event_summaries', 'block_1') }}
    <div class="more-link revamp events">
      <a href="/tools-and-resources/seminars">{{ 'See all reports of past year' | trans }}</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="main" class="col-12 one-column mx-auto">
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
  </div>
</div>
{% endblock %}
