{% extends "page.html.twig" %}


{% block content %}
<div class="breadcrumb-fluid">
  <div class="container"> {{ page.breadcrumb }}</div>
</div>
<div class="container node-publications-custom">
  <h1>{{ 'Publications' | trans }}</h1>
  {{ drupal_entity('node', 7282) }}
</div>
<div class="content-fluid">
  <div class="container">
    {{ drupal_view('publications', 'slideshow') }}
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="section col-12 col-lg-2" role="complementary">
      <h1>left column</h1>
      {{ page.sidebar_first }}
    </aside>
    <div id="main" class="col-12 col-lg-10 two-column mx-auto">
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
  </div>
</div>
{% endblock %}
