{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
<div id="navbar" role="banner" class="{{ navbar_classes }}">
  <div class="top-header-container">
    <div class="top-header-content row">
      <div class="header-logo">
        {{ page.top_header_logos }}
      </div>
      <div class="push-right">
        <div class="content-first-row">
          <div class="font-size-print">
            <span id="_smallify" class="a_small"><a title="{{ 'Smaller text' | trans }}">a</a></span>
            <span id="_reset" class="a_medium"><a title="{{ 'Optimised defaults' | trans }}">a</a></span>
            <span id="_biggify" class="a_big"><a title="{{ 'Bigger text' | trans }}">a</a></span>
            <a href="#" onclick="if(window.print)window.print();" class="print-friendly" title="{{ 'Print page' | trans }}"></a>
          </div>
          <div class="header-social-menu">
            {{ page.header }}
          </div>
        </div>
        <div class="header-links">
          {{ page.header_links}}
        </div>
        <div class="header-language-search">
          {{ page.header_form }}
        </div>
      </div>
    </div>
  </div>
   <nav{{ navbar_attributes }}>
      {% if page.primary_menu %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
            {{ page.primary_menu }}
        </div>
      {% endif %}
      {% if sidebar_collapse %}
        <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
      {% endif %}
    </nav>
</div>
{% endblock %}

{% block content %}
  <div class="breadcrumb-fluid">
    <div class="container"> {{ page.breadcrumb }}</div>
  </div>
<div class="container">
  <div class="row">
    {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty or page.sidebar_first.guideline_topics is not empty or page.sidebar_first.sectorindustrycovereddangeroussubstances is not empty%}    {% set has_sidebar_second_related = page.sidebar_second_related|render|striptags|trim is not empty %}
    {% set has_sidebar_second_others = page.sidebar_second_others|render|striptags|trim is not empty %}
    {% set has_sidebar_second = page.sidebar_second|render|striptags|trim is not empty or has_sidebar_second_related or has_sidebar_second_others %}
    {% set has_view_blog = page.sidebar_second.views_block__blog_block_2|render|striptags|trim is not empty %}

    {% if has_sidebar_first %}
      <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    {% if not has_sidebar_first and not has_sidebar_second %}
      <div id="main" class="col-12 col-md-12 one-column">
    {% endif %}
    {% if has_sidebar_first and not has_sidebar_second %}
      <div id="main" class="col-12 col-lg-9 two-column mx-auto">
    {% endif %}
    {% if not has_sidebar_first and has_sidebar_second %}
      <div id="main" class="col-12 col-lg-9 two-column mx-auto">
    {% endif %}
    {% if has_sidebar_first and has_sidebar_second %}
      <div id="main" class="col-12 col-lg-6 three-column mx-auto"
    {% endif %}
        {% if page.node_view %}
          <section class="section container custom-view-node-header">
            <a id="main-content" tabindex="-1"></a>
            {{ page.node_view }}
          </section>
        {% endif %}
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </section>
      </div>
    {% if has_sidebar_second %}
      <aside class="section col-12 col-lg-3 sidebar-second" role="complementary">
        {% if node.bundle == 'blog' or has_view_blog == 'true' %}
          <h2 class="related">{{ 'Posts by date' | trans }}</h2>
        {% endif %}
        {{ page.sidebar_second }}
        {% if has_sidebar_second_related %}
          <h2 class="related">{{ 'Related' | trans }}</h2>
          <div class="related-views">
            {{ page.sidebar_second_related }}
          </div>
        {% endif %}
        {{ page.sidebar_second_others }}
      </aside>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
  <div class="{{ container }}" >
    {% if page.footer_end %}
      <div class="site-footer__bottom">
        {{ page.footer_end }}
      </div>
    {% endif %}
  </div>
{% endblock %}
