{% extends "page.html.twig" %}


{% block content %}
<div class="breadcrumb-fluid">
  <div class="container"> {{ page.breadcrumb }}</div>
</div>
<div class="container node-publications-custom">
  <h1>{{ 'Publications' | trans }}</h1>
  {{ drupal_entity('node', 7282) }}
</div>
<div class="content-fluid">
  <div class="container">
    <h2>{{ 'Recommended publications' | trans }}</h2>
    {{ drupal_view('publications', 'slideshow') }}
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="section col-12 col-lg-3" role="complementary">
      {{ drupal_block('mainnavigation_2') }}
    </aside>
    <div id="main" class="col-12 col-lg-9 two-column mx-auto">
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
  </div>
</div>
{% endblock %}
