<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Jak dostat nebezpečné látky pod kontrolu?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Pro kompletní zobrazení prosím
          <br>použijte větší obrazovku
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro2.png" class="align-right"></div>

              <p class="lead">Používají se ve vašem podniku nebezpečné látky?
                <br /> Jste si vědomi rizik, která nebezpečné látky představují pro zaměstnance, a přínosů řešení těchto rizik?
              </p>
              <p>Tato infografika poskytuje přehled základních skutečností, hlavních rizik a preventivních opatření. Obeznamte se s pokyny a řadou praktických nástrojů, které vám pomohou při řízení těchto rizik.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-cs">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Řízení nebezpečných látek<br />
                                                        </span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Expozice</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Expozice</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Nejrizikovější odvět...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Nejrizikovější odvětví</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Dopady na zdraví</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Dopady na zdraví</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Expozice
                                </h2>
                                <p>Velké podniky často používají přes tisícovku různých chemických výrobků (např. barev, inkoustů, lepidel a čisticích prostředků) a miliony pracovníků přicházejí do styku s chemickými a biologickými látkami, které jim mohou způsobit újmu. Mnozí pracovníci si však nejsou vědomi toho, že pracují s nebezpečnými látkami.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/cs/surveys-and-statistics-osh/esener/2014cs" target="_blank">38% podniků v EU uvedlo, že na jejich pracovištích se vyskytují chemické nebo biologické látky ve formě kapalin, výparů nebo prachu (průzkum ESENER-2).</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/cs/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Z pracovníků v EU zapojených do průzkumu 17% uvedlo, že jsou nejméně po jednu čtvrtinu své pracovní doby vystaveni chemickým výrobkům nebo látkám (průzkum pracovních podmínek v Evropě)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/cs/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% uvedlo, že nejméně po jednu čtvrtinu své pracovní doby vdechují výpary (průzkum pracovních podmínek v Evropě)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/cs/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% uvedlo, že jsou nejméně po jednu čtvrtinu své pracovní doby vystaveni kouři, výparům nebo prachu (průzkum pracovních podmínek v Evropě)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Nejrizikovější odvětví <a class="info-link" href="https://osha.europa.eu/cs/surveys-and-statistics-osh/esener/2014cs" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Nebezpečné látky se vyskytují ve všech odvětvích, ať již se jedná o tradiční odvětví, jako je zemědělství, zpracovatelský průmysl nebo stavebnictví, tak o „nová a rozvíjející se“ odvětví, jako je recyklace nebo domácí péče. Nové technologie, rozvíjející se odvětví a změny v organizaci práce mohou přinášet větší rizika újmy způsobené chemickými látkami. Úroveň expozice nebezpečným látkám zaznamenaná v jednotlivých odvětvích:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>zemědělství, lesnictví a rybářství
                                                                        </span> <span class="line-chart"><span class="number">52</span>zpracovatelský průmysl</span> <span class="line-chart"><span class="number">51</span>stavebnictví, nakládání s odpady, zásobování vodou a rozvod elektřiny</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Rizika pro konkrétní skupiny <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Určité skupiny pracovníků mohou být vystaveny většímu riziku expozice nebezpečným látkám na pracovišti, protože nemají dostatek zkušeností nebo informací nebo jsou fyzicky zranitelnější. Větší riziko může hrozit i lidem, kteří často mění zaměstnání či mají jen dočasnou nebo neformální práci. Jiným pracovníkům může hrozit větší riziko expozice po určitou dobu, a to z různých důvodů, například při provádění vysoce rizikové mimořádné pracovní činnosti, jako je například údržba.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Ženy</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Mladí pracovníci</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Migrující pracovníci</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Lidé provádějící dočasnou nebo neformální práci</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Nedostatečně proškolení nebo informovaní pracovníci</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Karcinogeny <a class="info-link" href="https://healthy-workplaces.eu/cs/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Expozice karcinogenním látkám na pracovišti je příčinou většiny nemocí z povolání se smrtelnými následky v EU. Řadě těchto úmrtí lze předejít. V EU existují konkrétní právní ustanovení na ochranu pracovníků: podle směrnice o karcinogenech a mutagenech musí zaměstnavatelé vyhodnotit expozici karcinogenům nebo mutagenům a tuto expozici vyloučit nebo minimalizovat. Agentura EU-OSHA je jedním ze šesti partnerů, kteří podporují iniciativu známou jako plán týkající se karcinogenů.
                                </p>
                                <p class="big-number-chart"><strong>Přibližně <span class="number">1,6 milionu</span></strong> Každý rok je u přibližně 1,6 milionu osob v produktivním věku v Evropě diagnostikováno nádorové onemocnění.
                                </p>
                                <p class="big-number-chart"><strong>více než <span class="number">120 000 osob</span></strong>Odhaduje se, že nádorovým onemocněním v důsledku expozice karcinogenům na pracovišti v EU každý rok onemocní více než 120 000 osob.
                                </p>
                                <p class="big-number-chart"><strong>Přibližně <span class="number">80 000 úmrtí</span></strong> Expozice karcinogenům na pracovišti si každý rok vyžádá přibližně 80 000 úmrtí.
                                </p>
                                <p class="big-number-chart"><strong>zhruba <span class="number">53% všech úmrtí souvisejících s prací</span></strong>Karcinogeny jsou příčinou zhruba 53% všech úmrtí souvisejících s prací.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 miliardy €</span> ročně</strong> Přímé náklady spojené s expozicí karcinogenům při práci v Evropě činí 2,4 miliardy EUR ročně.
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Přínosy <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Efektivní řízení nebezpečných látek na pracovišti je přínosné pro všechny. Aktivní a participativní řízení BOZP zvyšuje konkurenceschopnost podniku, mj. zvýšením produktivity.
                                </p>
                                <ol class="big-list">
                                  <li>lepší zdravotní stav pracovníků</li>
                                  <li>nižší úroveň nepřítomnosti v práci z důvodu nemoci</li>
                                  <li>nižší výdaje na kontrolní opatření, osobní ochranné pracovní prostředky a zdravotní dohled</li>
                                  <li>úspora nákladů na ochranu proti požárům a výbuchům</li>
                                  <li>snížené náklady na odstraňování odpadů</li>
                                  <li>lepší pověst v očích zákazníků a spotřebitelů</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Dopady na zdraví</h2>
                                <p>Zdravotní rizika vyplývající z práce s nebezpečnými látkami jsou různá, od slabého podráždění očí a kůže až po závažné důsledky v podobě vrozených vad a nádorových onemocnění. Tyto dopady mohou být akutní či dlouhodobé a některé látky mohou mít kumulativní účinek.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">onemocnění kůže</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">alergie
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">onemocnění dýchacích cest</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">nádorová onemocnění
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">potíže s reprodukcí a vrozené vady
                                  </a>
                                  <br />
                                  <span class="link">poškození mozku a nervové soustavy</span>
                                  <br />
                                  <span class="link">otravy</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Preventivní opatření <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Prvním krokem k ochraně zaměstnanců před nebezpečnými látkami je provedení hodnocení rizik. Následně by měla být přijata opatření s cílem tato rizika odstranit nebo co nejvíce zmírnit. Evropské právní předpisy na ochranu zaměstnanců stanoví hierarchii opatření, která musí zaměstnavatelé přijmout, aby měli kontrolu nad riziky souvisejícími s nebezpečnými látkami.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Odstranění nebezpečných látek</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/infosheet-substitution" target="_blank">Nahrazení méně nebezpečných látek, chemických výrobků nebo postupů</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Technická opatření, např. odsávání</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organizační opatření, např. oddělení pracovišť</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Osobní ochranné pracovní prostředky</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Řízení nebezpečných látek <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Nebezpečné látky lze najít téměř na všech pracovištích. Miliony pracovníků po celé Evropě přicházejí do kontaktu s kapalnými, plynnými nebo pevnými látkami, které představují riziko pro jejich zdraví nebo bezpečnost.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/cs/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Kultura prevence
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/ds-e-tool" target="_blank">Hodnocení rizik</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Preventivní opatření</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/practical-tools" target="_blank">Nástroje a pokyny</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/cs/tools-and-publications/legislation" target="_blank">Právní předpisy</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Rizika pro konkrétní...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Rizika pro konkrétní skupiny</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Karcinogeny</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Karcinogeny</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Přínosy</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Přínosy</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Preventivní opatření</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
