<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Sådan håndterer man farlige stoffer</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Skift til fuld skærm for
          <br>at få en bedre oplevelse
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro2.png" class="align-right"></div>

              <p class="lead">Anvender din virksomhed skadelige stoffer?
                <br /> Er du opmærksom på de risici, som farlige stoffer udgør for arbejdstagerne, og kender du fordelene ved at håndtere dem?
              </p>
              <p>Denne infografik indeholder grundlæggende fakta, væsentlige risici og forebyggende foranstaltninger. Læs om vejledningen og de mange praktiske værktøjer, der kan hjælpe dig med at håndtere risiciene.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-da">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Håndtering af farlige stoffer</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Eksponering</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Eksponering</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">De mest udsatte sekt...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">De mest udsatte sektorer</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Sundhedsmæssige virk...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Sundhedsmæssige virkninger</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Eksponering</h2>
                                <p>Store virksomheder bruger ofte mere end 1 000 forskellige kemiske produkter (f.eks. maling, trykfarver, lim og rengøringsmidler), og millioner af arbejdstagere kommer i kontakt med kemiske og biologiske agenser, som kan være skadelige for dem. Mange arbejdstagere er dog ikke klar over, at de har med farlige stoffer at gøre.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/da/surveys-and-statistics-osh/esener/2014da" target="_blank">38% af virksomhederne i EU rapporterede, at der fandtes kemiske eller biologiske stoffer i form af væsker, dampe eller støv på deres arbejdspladser (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" style="margin-top: 6px;" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/da/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Rapportering fra de arbejdstagere, der har deltaget i undersøgelsen i EU 17% oplyste, at de var eksponeret for kemiske produkter eller stoffer i mindst en fjerdedel af arbejdstiden (European Working Conditions Survey)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/da/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% rapporterede, at de indånder dampe i mere end en fjerdedel af arbejdstiden (European Working Conditions Survey)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/da/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% rapporterede om, at de blev udsat for røg, dampe, pulver og støv i mere end en fjerdedel af arbejdstiden (European Working Conditions Survey)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>De mest udsatte sektorer <a class="info-link" href="https://osha.europa.eu/da/surveys-and-statistics-osh/esener/2014da" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Der findes farlige stoffer inden for alle sektorer, hvad enten det er traditionelle sektorer som for eksempel landbrugs-, fremstillings- eller byggesektoren eller "nye og fremspirende" sektorer som f.eks. genbrugs- eller hjemmeplejesektoren. Nye teknologier, sektorer i vækst og ændringer i den måde, arbejdet organiseres på, kan indebære en øget risiko for skader fra biologiske og kemiske agenser. Der blev rapportere om eksponering for farlige stoffer inden for forskellige sektorer med disse procentsatser:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Landbrug, skovbrug og fiskeri</span> <span class="line-chart"><span class="number">52</span>Fremstillingssektoren</span> <span class="line-chart"><span class="number">51</span>Bygge- og anlægsvirksomhed, affaldshåndtering, vand- og elforsyning</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Risici hos bestemte grupper <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Risikoen ved at blive udsat for farlige stoffer på arbejdspladsen kan være større hos visse grupper af arbejdstagere, fordi de er uerfarne, uvidende om risiciene eller fysisk mere sårbare. Personer, der ofte skifter job, eller har et midlertidigt eller uformelt arbejde, kan også være udsat for en højere risiko. Andre arbejdstagere kan også være sårbare på bestemte tidspunkter af forskellige årsager, f.eks. når der udføres højrisiko- og ikke-rutinemæssigt arbejde, såsom vedligeholdelsesarbejde.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Kvinder</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Unge arbejdere</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Mobile arbejdstagere</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Personer med midlertidigt eller uformelt arbejde</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Arbejdstagere, der mangler uddannelse og information</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Kræftfremkaldende stoffer <a class="info-link" href="https://healthy-workplaces.eu/da/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Eksponering for kræftfremkaldende stoffer på arbejdspladsen er årsag til de fleste erhvervssygdomme med dødelig udgang i EU. Mange af disse dødsfald kunne undgås. Der findes bestemmelser i EU, som beskytter arbejdstagere. Ifølge direktivet om kræftfremkaldende stoffer og mutagener skal arbejdsgiverne vurdere og undgå eller minimere eksponeringen for kræftfremkaldende stoffer eller mutagener. EU-OSHA er en af de seks partnere, der støtter køreplanen for bekæmpelse af kræftfremkaldende stoffer.
                                </p>
                                <p class="big-number-chart"><strong>Årligt får omkring  <span class="number">1,6 millioner</span></strong> mennesker i den erhvervsaktive alder i Europa stillet diagnosen kræft
                                </p>
                                <p class="big-number-chart"><strong>Over <span class="number">120 000 mennesker</span></strong> om året forventes at udvikle kræft i EU som følge af erhvervsmæssig eksponering for kræftfremkaldende stoffer
                                </p>
                                <p class="big-number-chart"><strong>Der er ca. <span class="number">80 000 dødsfald</span></strong> om året på grund af erhvervsmæssig eksponering for kræftfremkaldende stoffer
                                </p>
                                <p class="big-number-chart"><strong>Omkring <span class="number">53% af alle arbejdsrelaterede dødsfald</span></strong> skyldes kræftfremkaldende stoffer
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 mia. EUR</span> om året</strong> er de direkte omkostninger som f¢lge af eksponering for kræftfremkaldende stoffer på arbejdspladserne i Europa
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Fordele <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Alle har gavn af, at farlige stoffer håndteres på en effektiv måde på arbejdspladsen. Aktiv og deltagerbaseret arbejdsmiljøstyring gør virksomheden mere konkurrencedygtig, f.eks. ved at produktiviteten forbedres.
                                </p>
                                <ol class="big-list">
                                  <li>Bedre sundhed for arbejdstagerne</li>
                                  <li>Lavere sygefravær</li>
                                  <li>Færre udgifter til kontrolforanstaltninger, personlige værnemidler og helbredskontrol</li>
                                  <li>Færre omkostninger til brand- og eksplosionsbeskyttelse</li>
                                  <li>Lavere omkostninger til bortskaffelse af affald</li>
                                  <li>Forbedret omdømme hos kunder og forbrugere</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Sundhedsmæssige virkninger</h2>

                                <p>De sundhedsproblemer, der kan opstå på grund af arbejde med farlige stoffer, rangerer fra lette øjen- og hudirritationer til alvorlige følgevirkninger som f. eks. fosterskader og kræft. Virkningerne kan opstå akut eller over et langt tidsrum, og nogle stoffer kan have kumulative virkninger.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Hudsygdomme</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergier
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Åndedrætssygdomme</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Kræft
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Reproduktive problemer og fosterskader
                                  </a>
                                  <br />
                                  <span class="link">Skader på hjernen og nervesystemet</span>
                                  <br />
                                  <span class="link">Forgiftning</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Forebyggende foranstaltninger <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>For at beskytte arbejdstagerne mod farlige stoffer skal der som første trin foretages en risikovurdering. Dernæst skal der foretages tiltag for at fjerne eller reducere risiciene, så vidt det er muligt. EU-lovgivningen om beskyttelse af arbejdstagere indeholder et hierarki af foranstaltninger, som arbejdsgivere skal træffe for at håndtere risikoen i forbindelse med farlige stoffer.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Udfasning af farlige stoffer</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/infosheet-substitution" target="_blank">Udskiftning (substitution) af farlige stoffer, kemiske produkter eller processer</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Tekniske foranstaltninger, f.eks. udsugningssystemer</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organisatoriske foranstaltninger, f.eks. adskilte arbejdspladser</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Personlige værnemidler</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Håndtering af farlige stoffer <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Farlige stoffer findes på næsten alle arbejdspladser. Overalt i Europa kommer arbejdstagere i berøring med væsker, gasser og faste stoffer, som udgør en risiko for deres sundhed og sikkerhed.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/da/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Forebyggelseskultur
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/ds-e-tool" target="_blank">Risikovurdering</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Forebyggende foranstaltninger</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/practical-tools" target="_blank">Vejledning og værktøjer</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/da/tools-and-publications/legislation" target="_blank">Lovgivning</a>
                                  <br />
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Risici hos bestemte ...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Risici hos bestemte grupper</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Kræftfremkaldende st...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Kræftfremkaldende stoffer</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Fordele</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Fordele</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Forebyggende foranstaltninger</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
