<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Der richtige Umgang mit gefährlichen Stoffen</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Zur bestmöglichen Darstellung bitte einen größeren
          <br>Bildschirm verwenden
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Werden in Ihrem Unternehmen gefährliche Substanzen eingesetzt?
                <br />Kennen Sie die Risiken für Beschäftigte, die mit gefährlichen Substanzen verbunden sind, und wissen Sie, welchen Nutzen Sie daraus ziehen können?
              </p>
              <p>In dieser Infografik werden die grundlegenden Fakten, Hauptrisiken und Präventionsmaßnahmen vorgestellt. Informieren Sie sich über die Leitfäden und die zahlreichen praktischen Tools, die Ihnen helfen können, die Risiken zu reduzieren.</p>

            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-de">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Gefährliche Substanzen erkennen und handhaben</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exposition</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exposition</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Besonders risikobeha...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Besonders risikobehaftete Sektoren</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Gesundheitliche Ausw...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Gesundheitliche Auswirkungen</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2><strong>Exposition</strong></h2>
                                <p>Große Unternehmen verwenden häufig mehr als 1 000 verschiedene chemische Produkte (z. B. Farben und Lacke, Klebstoffe und Reinigungsmittel), und Millionen von Beschäftigten kommen mit chemischen und biologischen Arbeitsstoffen in Kontakt, die sie schädigen können. Viele Arbeitnehmer wissen jedoch nicht, dass sie gefährliche Substanzen handhaben.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/de/surveys-and-statistics-osh/esener/2014de" target="_blank">38 % der Unternehmen in der EU gaben an, dass an ihren Arbeitsplätzen chemische oder biologische Stoffe in Form von Flüssigkeiten, Dämpfen oder Stäuben vorkommen (ESENER-2).</a></p>
                                <p class="progress-graph-container"><span style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/de/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Nach Angaben der in der EU befragten Beschäftigten sind 17 % während mindestens eines Viertels ihrer Arbeitszeit chemischen Produkten oder Stoffen ausgesetzt (Europäische Erhebung über die Arbeitsbedingungen).</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/de/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 % gaben an, dass sie während mehr als 25 % ihrer Arbeitszeit Dämpfe einatmen (Europäische Erhebung über die Arbeitsbedingungen).</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/de/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 % erklärten, sie seien während mehr als eines Viertels ihrer Arbeitszeit Rauch, Dämpfen, Pulver oder Staub ausgesetzt (Europäische Erhebung über die Arbeitsbedingungen).</a></p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Besonders risikobehaftete Sektoren <a class="info-link" href="https://osha.europa.eu/de/surveys-and-statistics-osh/esener/2014de" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>In allen Sektoren sind gefährliche Substanzen vorhanden, sei es in traditionellen Sektoren wie der Landwirtschaft, der verarbeitenden Industrie oder dem Bausektor oder in „neuen und neu entstehenden“ Sektoren wie Recycling oder häusliche Pflege. Neue Technologien, expandierende Wirtschaftszweige und sich verändernde Formen der Arbeitsorganisation können zu einer größeren Gefährdung durch chemische Arbeitsstoffe führen. In verschiedenen Sektoren wurde eine Exposition gegenüber gefährlichen Substanzen in Höhe dieser Prozentsätze gemeldet:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Land- und Forstwirtschaft, Fischerei</span> <span class="line-chart"><span class="number">52</span>Verarbeitende Industrie</span> <span class="line-chart"><span class="number">51</span>Baugewerbe/Bau, Abfallentsorgung, Wasser- und Stromversorgung</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Risiken spezifischer Gruppen <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Bestimmte Gruppen von Beschäftigten sind möglicherweise einem höheren Risiko der Exposition gegenüber gefährlichen Substanzen am Arbeitsplatz ausgesetzt, weil sie unerfahren, uninformiert oder körperlich empfindlicher sind. Menschen, die häufig den Arbeitsplatz wechseln oder die temporär oder informell beschäftigt sind, können ebenfalls stärker gefährdet sein. Andere Beschäftigte können zu bestimmten Zeiten aus unterschiedlichen Gründen ebenfalls gefährdet sein, z. B. bei der Durchführung nicht routinemäßiger Tätigkeiten mit hohem Risiko, wie Wartungsarbeiten.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Frauen</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Junge Beschäftigte</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Migranten</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Temporär oder informell Beschäftigte</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Beschäftigte ohne Ausbildung und Unterweisung</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Karzinogene <a class="info-link" href="https://healthy-workplaces.eu/de/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Der Großteil der tödlichen arbeitsbedingten Erkrankungen in der EU ist auf die Exposition gegenüber Karzinogenen am Arbeitsplatz zurückzuführen. Viele dieser Todesfälle könnten verhindert werden. In der EU gelten besondere Vorschriften, um die Beschäftigten zu schützen: Gemäß der Richtlinie über Karzinogene und Mutagene müssen Arbeitgeber die Exposition gegenüber Karzinogenen oder Mutagenen bewerten und sie vermeiden oder möglichst gering halten. Die EU-OSHA unterstützt als einer von sechs Partnern die Initiative „Fahrplan zur Verringerung von Karzinogenen“.
                                </p>
                                <p class="big-number-chart"><strong>Rund <span class="number">1,6 Millionen</span></strong> Alljährlich erhalten in Europa rund 1,6 Millionen Menschen im erwerbstätigen Alter die Diagnose Krebs
                                </p>
                                <p class="big-number-chart"><strong>Mehr als <span class="number">120 000 Menschen</span></strong>Schätzungen zufolge bekommen in der EU mehr als<br>120 000 Menschen pro Jahr infolge einer Exposition gegenüber Karzinogenen am Arbeitsplatz Krebs
                                </p>
                                <p class="big-number-chart"><strong>Etwa <span class="number">80 000 Todesfälle</span></strong> sind jedes Jahr auf die berufsbedingte Exposition gegenüber Karzinogenen zurückzuführen
                                </p>
                                <p class="big-number-chart"><strong>Rund <span class="number">53% aller arbeitsbedingten Todesfälle</span></strong>werden durch Karzinogene verursacht
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 Milliarden €</span> pro Jahr</strong> Die direkten Kosten der Exposition gegenüber Karzinogenen bei der Arbeit belaufen sich europaweit auf 2,4 Milliarden EUR pro Jahr.
                                </p>
                                <p>&nbsp;
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Nutzen <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Alle Menschen profitieren von einem effizienten Umgang mit gefährlichen Substanzen am Arbeitsplatz. Ein aktives und partizipatorisches Sicherheits- und Gesundheitsmanagement macht Unternehmen wettbewerbsfähiger, da auch die Produktivität verbessert wird.
                                </p>
                                <ol class="big-list">
                                  <li>Bessere Gesundheit der Beschäftigten</li>
                                  <li>Weniger krankheitsbedingte Fehlzeiten</li>
                                  <li>Geringere Ausgaben für Kontrollmaßnahmen, persönliche Schutzausrüstung und Gesundheitsüberwachung</li>
                                  <li>Kosteneinsparungen beim Brand- und Explosionsschutz</li>
                                  <li>Geringere Kosten für die Abfallentsorgung</li>
                                  <li>Bessere Reputation bei Kunden und Verbrauchern</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Gesundheitliche Auswirkungen</h2>
                                <p>Die Arbeit mit gefährlichen Substanzen kann ganz unterschiedliche gesundheitliche Probleme hervorrufen, von leichten Augen- und Hautreizungen bis hin zu schwerwiegenden Folgen wie Geburtsfehlern und Krebserkrankungen. Die Auswirkungen können akut oder langfristig auftreten, und bei einigen Stoffen kann sich die Wirkung potenzieren.
                                </p>
                                <p>
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Hauterkrankungen</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergien
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Atemwegserkrankungen</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Krebserkrankungen
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Fortpflanzungsprobleme und Geburtsfehler
                                  </a>
                                  <br />
                                  <span class="link">Schädigung des Gehirns und des Nervensystems</span>
                                  <br />
                                  <span class="link">Vergiftungen</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Präventionsmaßnahmen <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Um Beschäftigte vor gefährlichen Substanzen zu schützen, muss zunächst eine Gefährdungsbeurteilung vorgenommen werden. Anschließend sind Maßnahmen zu ergreifen, um die ermittelten Risiken zu beseitigen oder weitgehend zu reduzieren. Die europäische Gesetzgebung zum Schutz von Beschäftigten sieht eine Maßnahmenhierarchie vor, die von Arbeitgebern eingehalten werden muss, um die Risiken zu verringern, die von gefährlichen Substanzen ausgehen.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Beseitigung der gefährlichen Substanzen</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/infosheet-substitution" target="_blank">Substitution durch weniger gefährliche Substanzen, chemische Erzeugnisse oder Verfahren</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Technische Maßnahmen, z. B. Absaugung</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organisatorische Maßnahmen, z. B. Trennung von Arbeitsplätzen</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Persönliche Schutzausrüstung</a>
                                  <br />
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Gefährliche Substanzen erkennen und handhaben <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Gefährliche Substanzen sind an nahezu jedem Arbeitsplatz zu finden. In ganz Europa kommen Millionen von Arbeitnehmern mit flüssigen, gasförmigen oder festen Substanzen in Berührung, die ein Risiko für die Gesundheit oder Sicherheit von Beschäftigten darstellen.</p>

                                <p><a class="link" href="https://healthy-workplaces.eu/de/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Präventionskultur </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/ds-e-tool" target="_blank">Gefährdungsbeurteilung</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Präventionsmaßnahmen</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/practical-tools" target="_blank">Instrumente &amp; Leitfäden</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/de/tools-and-publications/legislation" target="_blank">Rechtsvorschriften</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Risiken spezifischer...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Risiken spezifischer Gruppen</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Karzinogene</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Karzinogene</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Nutzen</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Nutzen</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Präventionsmaßnahmen</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
