<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">How to manage dangerous substances</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src=/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png><br>
          For the full experience<br>please use a bigger screen.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">



            <div><div><img src=/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png class="align-left"><img src=/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png class="align-right"></div>

              <p class="lead">Does your business use dangerous substances?<br>
                Are you aware of the risks that dangerous substances pose to workers and the benefits of dealing with them?</p>

              <p>This infographic introduces the basic facts, main risks and prevention measures. Find out about the guidance and many practical tools that can help you manage the risks.</p>
            </div>

          </div>


        </div>

      </div>
    </div>



    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">


          <div id="infogrphics">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Manage Dangerous Substances</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exposure</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exposure</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Sectors at particular risk</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Sectors at particular risk</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Health effects</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Health effects</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png width="190" height="247" alt="" typeof="Image">


                              </div><div class="col-8"><h2><strong>Exposure</strong></h2>
                                <p>Large enterprises often use more than 1,000 different chemical products (e.g. paints, inks, glues and cleaners) and millions of workers come into contact with chemical and biological agents that can harm them. However, many workers are not aware that they deal with dangerous substances.</p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/en/surveys-and-statistics-osh/esener/2014" target="_blank">Of EU enterprises reported that chemical or biological substances in the form of liquids, fumes or dust were present in their workplaces (ESENER-2)</a></p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">According to workers surveyed in the EU, 17% reported being exposed to chemical products or substances for at least a quarter of their working time (European Working Conditions Survey)</a></p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Reported breathing in vapours for more than one quarter of their working time (European Working Conditions Survey)</a></p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Reported exposure to smoke, fumes, powder and dust for more than one quarter of their working time (European Working Conditions Survey)</a></p>

                              </div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png width="190" height="247" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Sectors at particular risk   <a class="info-link" href="https://osha.europa.eu/en/surveys-and-statistics-osh/esener/2014" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png ></a></h2>
                                <p>In all sectors dangerous substances are present, be it in traditional sectors like agriculture, manufacturing or construction, or 'new and emerging' sectors like recycling or home care. New technologies, expanding sectors and changes to the way work is organised can result in greater risk of harm from chemical agents. Exposure to dangerous substances was reported in different sectors by these percentages:</p>

                                <p><span class="line-chart"><span class="line-chart-progress" style="width:0%">&nbsp;</span><span class="number">62</span>Agriculture, forestry and fishing</span> <span class="line-chart"><span class="line-chart-progress" style="width:0%">&nbsp;</span><span class="number">52</span>Manufacturing</span> <span class="line-chart"><span class="line-chart-progress" style="width:0%">&nbsp;</span><span class="number">51</span>Construction, waste management, and water and electricity supply</span></p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png  width="190" height="247" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Risks of specific groups  <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png ></a></h2>
                                <p>Certain groups of workers may be at greater risk of exposure to dangerous substances in the workplace because they are inexperienced, unaware or physically more vulnerable. People who frequently change jobs or are in temporary or informal work may also be at higher risk. Other workers may also be vulnerable at certain times for different reasons, for example when conducting high risk, non-routine work activity such as maintenance work.</p>

                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Women</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Young workers</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers" target="_blank">Migrant workers</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">People in temporary or informal work</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Workers lacking training and information</a></p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png  width="219" height="292" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Carcinogens <a class="info-link" href="https://healthy-workplaces.eu/en/priority-area/carcinogens" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png ></a></h2>
                                <p>Exposure to carcinogens in the workplace causes the majority of fatal occupational diseases in the EU. Many of these deaths could be prevented. There are specific provisions in the EU to protect workers: according to the Carcinogens and Mutagens Directive, employers must assess and avoid or minimise the exposure to carcinogens or mutagens. EU-OSHA is one of the six partners supporting the Roadmap on Carcinogens initiative.</p>

                                <p class="big-number-chart"><strong>Around <span class="number">1.6 million people</span></strong> of working age are diagnosed with cancer in Europe every year</p>

                                <p class="big-number-chart"><strong>More than <span class="number">120,000 people</span></strong>per year are estimated to develop cancer in the EU as a result of occupational exposure to carcinogens</p>

                                <p class="big-number-chart"><strong>Approximately <span class="number">80,000 deaths</span></strong> occur each year due to occupational exposure to carcinogens</p>

                                <p class="big-number-chart"><strong>About <span class="number">53% of all work-related deaths</span></strong>are caused by carcinogens</p>

                                <p class="big-number-chart"><strong><span class="number">2.4 billion €</span> per year</strong> are the direct costs of exposure to carcinogens at work across Europe</p>

                                <p>&nbsp;</p>
                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png width="219" height="292" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Benefits <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png></a></h2>
                                <p>Everyone benefits from efficiently managing dangerous substances in the workplace. Active, participatory safety and health management makes a business more competitive, for example by improving productivity.</p>

                                <ol class="big-list">
                                  <li class="elab"><span>Improved workers' health</span></li>
                                  <li class="elab"><span>Lower sickness absence</span></li>
                                  <li class="elab"><span>Reduced spending on control measures, personal protective equipment and health surveillance</span></li>
                                  <li class="elab"><span>Cost savings on fire and explosion protection</span></li>
                                  <li class="elab"><span>Reduced costs of waste disposal</span></li>
                                  <li class="elab"><span>Improved reputation in the eyes of customers and consumers</span></li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png width="190" height="247" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Health effects</h2>
                                <p>The health problems that can be caused by working with dangerous substances range from mild eye and skin irritation to severe effects, such as birth defects and cancer. Effects can be acute or long term, and some substances can have a cumulative effect.</p>

                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Skin diseases</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergies</a><br>
                                  <a href="https://healthy-workplaces.eu/en/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" class="link" target="_blank">Respiratory diseases</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cancers</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Reproductive problems and birth defects</a><br>
                                  <span class="link">Damage to the brain and the nervous system</span><br>
                                  <span class="link">Poisoning</span></p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png width="219" height="292" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Prevention measures <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png></a></h2>
                                <p>To protect workers from dangerous substances, the first step is to carry out a risk
                                  assessment. Then, actions should be taken to remove or reduce the risks as far as possible.
                                  European worker protection legislation establishes a hierarchy of measures that employers
                                  need to take to control the risks of dangerous substances.</p>

                                <p><a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;amp;sort_by=search_api_relevance&amp;amp;sort_order=DESC" target="_blank">Elimination of the dangerous substances</a><br>
                                  <a class="link" href="https://healthy-workplaces.eu/en/infosheet-substitution" target="_blank">Substitution by less dangerous substances, chemical products or processes</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Technical measures, like exhaustion</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organisational measures, like separation of work places</a><br>
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Personal protective equipment</a></p>
                              </div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src=/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png width="219" height="292" alt="" typeof="Image">


                              </div><div class="col-8"><h2>Manage Dangerous Substances  <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src=/{{ base_path ~ directory }}/images/external-infographic-images/info.png></a></h2>
                                <p>Dangerous substances can be found in nearly all workplaces. Across Europe, millions of workers come into contact with liquid, gas or solid agents that pose a risk to workers’ health or safety.</p>

                                <p><a class="link" href="https://healthy-workplaces.eu/en/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Prevention culture</a><br>
                                  <a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/ds-e-tool" target="_blank">Risk assessment</a><br>
                                  <a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Prevention measures</a><br>
                                  <a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/practical-tools" target="_blank">Tools &amp; Guidance</a><br>
                                  <a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/legislation" target="_blank">Legislation</a></p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src=/{{ base_path ~ directory }}/images/external-infographic-images/close.png></div>
                </div>
                <img class="col-7 globe" src=/{{ base_path ~ directory }}/images/external-infographic-images/globe.png>
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>
                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Risks of specific groups</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Risks of specific groups</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Carcinogens</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Carcinogens</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Benefits</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Benefits</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>
                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Prevention measures</span></span></div></div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  </main>
</div>
