<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">¿Cómo gestionar las sustancias peligrosas?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Para obtener la experiencia completa,
          <br>amplíe la pantalla
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro2.png" class="align-right"></div>

              <p class="lead">¿Usa su empresa sustancias peligrosas?
                <br> ¿Conoce los riesgos de las sustancias peligrosas para los trabajadores y las ventajas de abordarlos?</p>
              <p>Esta infografía presenta los datos básicos, los riesgos principales y las medidas preventivas. Descubra recomendaciones y numerosas herramientas prácticas que pueden ayudarle a controlar los riesgos.</p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-es">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Gestionar las sustancias peligrosas</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exposición</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exposición</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Sectores de riesgo </span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Sectores de riesgo </span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Efectos sobre la salud</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Efectos sobre la salud</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2><span>Exposición</span></h2>
                                <p>Las grandes empresas utilizan a menudo más de 1.000 sustancias químicas distintas (p. ej. pinturas, tintas, adhesivos y productos de limpieza) y millones de trabajadores entran en contacto con agentes químicos y biológicos que pueden perjudicarles. No obstante, muchos trabajadores no son conscientes de que están manipulando sustancias peligrosas.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/es/surveys-and-statistics-osh/esener/2014es" target="_blank">Un 38 % de las empresas de la UE han declarado tener sustancias químicas o biológicas en forma de líquidos, vapores o polvo en sus lugares de trabajo (ESENER-2)</a>
                                </p>
                                <p class="progress-graph-container"><span  style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/es/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Según la población trabajadora de la UE que participó en la encuesta: un 17 % declaró estar expuesta a productos o sustancias químicas durante al menos un 25 % de su jornada laboral (Encuesta europea sobre las condiciones de trabajo)</a>
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/es/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Un 11 % declaró respirar vapores durante más de un 25 % de su jornada laboral (Encuesta europea sobre condiciones de trabajo)</a>
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/es/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Un 15 % declaró estar expuesto a humos, vapores y polvo durante más de un 25 % de su jornada laboral (Encuesta europea sobre condiciones de trabajo)</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Sectores de riesgo  <a class="info-link" href="https://osha.europa.eu/es/surveys-and-statistics-osh/esener/2014es" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Las sustancias peligrosas están presentes en todos los sectores, ya sean los tradicionales, como agricultura, fabricación o construcción, o los «nuevos y emergentes», como reciclaje y cuidado del hogar. Las nuevas tecnologías, los sectores en expansión y los cambios en la manera en que se organiza el trabajo pueden entrañar un mayor riesgo de sufrir daños causados por agentes químicos. La exposición a sustancias peligrosas se registró en diferentes sectores con los siguientes porcentajes:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Agricultura, silvicultura y pesca</span> <span class="line-chart"><span class="number">52</span>Fabricación</span> <span class="line-chart"><span class="number">51</span>Construcción, gestión de residuos, suministro de agua y electricidad</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Grupos específicos en riesgo <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Algunos grupos de trabajadores corren más riesgo de estar expuestos a sustancias peligrosas en el lugar de trabajo porque no tienen experiencia, no son conscientes del peligro o son más vulnerables desde el punto de vista físico. Las personas que cambian de trabajo con frecuencia o que tienen trabajos temporales o informales pueden presentar también un mayor riesgo. Otros trabajadores también pueden ser vulnerables en algunas ocasiones por distintos motivos, por ejemplo al realizar trabajos de alto riesgo no rutinarios, como tareas de mantenimiento.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Mujeres</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Trabajadores jóvenes</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Trabajadores migrantes</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Personas con trabajo temporal o informal</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Trabajadores que carecen de formación e información</a>
                                  <br />
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Agentes carcinógenos <a class="info-link" href="https://healthy-workplaces.eu/es/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>La exposición a los agentes carcinógenos en el lugar de trabajo provoca la mayor parte de las enfermedades profesionales mortales en la UE. Muchas de estas muertes podrían evitarse. La UE cuenta con disposiciones concretas para proteger a los trabajadores: según la Directiva sobre agentes carcinógenos y mutágenos, los empresarios deben evaluar y evitar o reducir al mínimo la exposición a agentes carcinógenos o mutágenos. La EU-OSHA es uno de los seis socios que apoyan la Hoja de ruta de la UE sobre carcinógenos.
                                </p>
                                <p class="big-number-chart"><strong>Cerca de <span class="number">1,6 millones</span> de personas</strong> Cada año en Europa se diagnostica cáncer a cerca de 1,6 millones de personas en edad de trabajar
                                </p>
                                <p class="big-number-chart"><strong>Más de <span class="number">120.000 personas</span></strong>Cada año enferman de cáncer más de 120.000 personas en la UE como resultado de una exposición a los carcinógenos en el trabajo
                                </p>
                                <p class="big-number-chart"><strong>Aproximadamente <span class="number">80.000 personas mueren</span></strong>cada año debido a la exposición a los carcinógenos en el trabajo
                                </p>
                                <p class="big-number-chart"><strong>Alrededor del <span class="number">53% de todas las muertes relacionadas con el trabajo</span></strong> se deben a agentes carcinógenos
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 mil millones €</span> al año</strong> En toda Europa los costes directos de la exposición a los carcinógenos en el trabajo ascienden a 2,4 mil millones EUR al año
                                </p>
                                <p>&nbsp;
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Ventajas <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Gestionar con eficiencia las sustancias peligrosas en el trabajo redunda en beneficio de todo el mundo. La gestión activa y participativa de la seguridad y la salud hace que una empresa sea más competitiva, por ejemplo, mediante la mejora de la productividad.
                                </p>
                                <ol class="big-list">
                                  <li>Mejora de la salud de los trabajadores</li>
                                  <li>Reducción de las bajas por enfermedad</li>
                                  <li>Disminución del gasto en medidas de control, equipos de protección personal y controles sanitarios</li>
                                  <li>Ahorro de costes en protección contra incendios y explosiones</li>
                                  <li>Reducción de costes de la eliminación de residuos</li>
                                  <li>Mejora de la reputación ante los clientes y consumidores</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Efectos sobre la salud</h2>
                                <p>Los problemas de salud que puede causar el trabajo con sustancias peligrosas van desde la irritación leve de los ojos y la piel hasta efectos graves, como malformaciones congénitas y cáncer. Los efectos pueden ser agudos o a largo plazo, y algunas sustancias pueden tener un efecto acumulativo.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Enfermedades de la piel</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergias
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Enfermedades respiratorias</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cánceres
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemas reproductivos y malformaciones congénitas
                                  </a>
                                  <br />
                                  <span class="link">Daños en el cerebro y en el sistema nervioso</span>
                                  <br />
                                  <span class="link">Envenenamiento</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Medidas preventivas <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Para proteger a los trabajadores de las sustancias peligrosas, el primer paso es realizar una evaluación de riesgos. A continuación debe actuarse para eliminar o reducir los riesgos lo máximo posible. La legislación europea de protección de las personas trabajadoras establece una jerarquía de medidas que las empresas deben adoptar para controlar el riesgo de las las sustancias peligrosas.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/en/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminación de las sustancias peligrosas</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/infosheet-substitution" target="_blank">Sustitución por sustancias, productos químicos o procesos menos peligrosos</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Medidas técnicas, como la expulsión de emisiones gaseosas</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Medidas organizativas, como la separación de los lugares de trabajo</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Equipos de protección individual</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Gestionar las sustancias peligrosas <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Las sustancias peligrosas se encuentran en casi todos los lugares de trabajo. En toda Europa, millones de trabajadores entran en contacto con líquidos, gases o sólidos que suponen un riesgo para su salud o su seguridad.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/es/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Cultura preventiva
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/tools-and-publications/ds-e-tool" target="_blank">Evaluación de riesgos</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Medidas preventivas</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/tools-and-publications/practical-tools" target="_blank">Herramientas y Recomendaciones</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/es/tools-and-publications/legislation" target="_blank">Legislación</a>
                                  <br />
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Grupos específicos...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Grupos específicos en riesgo</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Agentes carcinógenos</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Agentes carcinógenos</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Ventajas</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Ventajas</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Medidas preventivas</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
