
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Comment maîtriser l’usage des substances dangereuses?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Pour profiter pleinement de cette expérience,
          <br>veuillez utilisez un plus grand écran.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Votre entreprise utilise-t-elle des substances dangereuses?
                <br> Êtes-vous conscient des risques que présentent les substances dangereuses pour les travailleurs et des avantages liés à leur prévention?</p>
              <p>Cette infographie présente les principes fondamentaux, les risques principaux et les mesures préventives. En savoir plus sur les éléments d’orientation et les nombreux outils pratiques peuvent vous aider à gérer ces risques.</p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-fr">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Maîtriser l’usage des substances dangereuses</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exposition</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exposition</span></span>
                        </div>
                      </div>
                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Secteurs à risque part...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Secteurs à risque particulier</span></span>
                        </div>
                      </div>
                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Effets sur la santé</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Effets sur la santé</span></span>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Effets sur la santé</h2>
                                <p>Les problèmes de santé qui peuvent résulter du travail avec des substances dangereuses peuvent aller d’une légère irritation des yeux et de la peau à des maladies graves, telles que des anomalies congénitales et des cancers. Ces effets peuvent être aigus ou durables et certaines substances peuvent avoir un effet cumulatif.
                                </p>

                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Affections cutanées</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergies</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Maladies respiratoires</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cancers</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problèmes de reproduction et anomalies congénitales</a>
                                  <br />
                                  <span class="link">Lésions cérébrales et au niveau du système nerveux</span>
                                  <br />
                                  <span class="link">Empoisonnement</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Avantages <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Tout le monde profite de la gestion efficace des substances dangereuses sur le lieu de travail. Une gestion active et participative de la sécurité et de la santé renforce la compétitivité d'une entreprise, notamment, par exemple, en améliorant sa productivité.</p>

                                <ol class="big-list">
                                  <li>Amélioration de la santé des travailleurs</li>
                                  <li>Taux d'absence pour maladie plus faible</li>
                                  <li>Réduction des dépenses consacrées aux mesures de contrôle, aux équipements de protection individuelle et à la surveillance de la santé</li>
                                  <li>Économies de coûts en matière de protection contre les incendies et les explosions</li>
                                  <li>Réduction des coûts liés à l’élimination des déchets</li>
                                  <li>Amélioration de la réputation aux yeux des clients et des consommateurs</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Substances cancérigènes <a class="info-link" href="https://healthy-workplaces.eu/fr/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>L’exposition à des substances cancérigènes sur le lieu de travail est responsable de la majorité des maladies professionnelles mortelles dans l’UE. Nombre de ces décès pourraient être évités. Il existe des dispositions spécifiques dans l’UE destinées à protéger les travailleurs: conformément à la directive sur les agents cancérigènes et mutagènes, les employeurs doivent évaluer et éviter ou réduire l’exposition aux agents cancérigènes ou mutagènes. L’EU-OSHA est l’un des six partenaires qui soutiennent la feuille de route relative aux substances cancérigènes.</p>

                                <p class="big-number-chart"><strong>Environ <span class="number">1,6 million de personnes</span></strong> Chaque année en Europe, un diagnostic de cancer est établi chez environ 1,6 million de personnes en âge de travailler. </p>

                                <p class="big-number-chart"><strong>Plus de <span class="number">120 000 personnes</span></strong>On estime que dans l’UE, plus de 120 000 personnes développent chaque année un cancer à la suite de l’exposition professionnelle à des agents cancérigènes.</p>

                                <p class="big-number-chart"><strong>Environ <span class="number">80 000 décès</span></strong> surviennent chaque année en raison de l’exposition professionnelle à des agents cancérigènes.</p>

                                <p class="big-number-chart"><strong>Environ <span class="number">53% de tous les décès liés au travail</span></strong>sont causés par des agents cancérigènes.</p>

                                <p class="big-number-chart"><strong><span class="number">2,4 milliards d’euros</span> par année</strong>Les coûts directs de l’exposition à des agents cancérigènes au travail se montent à 2,4 milliards d’euros par année en Europe.</p>

                                <p>&nbsp;</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Risques encourus par des catégories spécifiques <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Certaines catégories de travailleurs risquent davantage d’être exposées à des substances dangereuses sur le lieu de travail parce qu’elles sont inexpérimentées, inconscientes ou plus vulnérables. Les personnes qui changent fréquemment d’emploi ou qui occupent un emploi temporaire ou informel peuvent aussi présenter un risque plus élevé . D’autres travailleurs peuvent également être vulnérables à certains moments pour des raisons différentes, par exemple lorsqu’il s’agit d’effectuer des travaux à haut risque, inhabituels, comme des travaux de maintenance.</p>

                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Femmes</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Jeunes travailleurs</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers" target="_blank">Travailleurs migrants
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Personnes travaillant à titre temporaire ou informel</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Travailleurs sans formation et mal informés</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Secteurs à risque particulier <a class="info-link" href="https://osha.europa.eu/fr/surveys-and-statistics-osh/esener/2014fr" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Les substances dangereuses sont présentes dans tous les secteurs, que ce soit dans des secteurs traditionnels tels que l’agriculture, l’industrie manufacturière ou la construction, ou dans des secteurs «nouveaux et émergents» tels que le recyclage ou les soins à domicile. Les nouvelles technologies, les secteurs en pleine expansion et les changements apportés à l’organisation du travail peuvent accroître les risques liés aux agents chimiques. Il a été fait état, dans différents secteurs, de l’exposition aux substances dangereuses calculée selon les pourcentages suivants:</p>

                                <p><span class="line-chart"><span class="number">62</span>Agriculture, sylviculture et pêche</span> <span class="line-chart"><span class="number">52</span>Industrie manufacturière</span> <span class="line-chart"><span class="number">51</span>Construction, gestion des déchets, distribution d’eau et fourniture d’électricité</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2><strong>Exposition</strong></h2>
                                <p>Les grandes entreprises utilisent souvent plus de 1 000 produits chimiques différents (par exemple, peintures, encres, colles et détergents) et des millions de travailleurs sont en contact avec des agents chimiques et biologiques susceptibles de porter préjudice à leur santé. Toutefois, de nombreux travailleurs n’ont pas conscience de faire face à des substances dangereuses.</p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38" style="margin-top: 6px;">-</span><a href="https://osha.europa.eu/fr/surveys-and-statistics-osh/esener/2014fr" target="_blank">Des entreprises de l’UE ont signalé que des substances chimiques ou biologiques se présentant sous forme de liquides, de fumées ou de poussières étaient présentes sur leurs lieux de travail (ESENER-2).</a></p>

                                <p class="progress-graph-container"><span style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/fr/data/european-working-conditions-survey?locale=EN&dataSource=EWCS2016&media=png&width=740&question=y15_Q88&plot=euBars&countryGroup=linear&subset=agecat_3&subsetValue=All" target="_blank">D’après les travailleurs interrogés dans l’UE, 17% d’entre eux sont exposés à des produits chimiques ou des substances pendant au moins un quart de leur temps de travail (enquête européenne sur les conditions de travail)</a></p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/fr/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">D’entre eux ont déclaré inhaler des vapeurs pendant plus d’un quart de leur temps de travail (enquête européenne sur les conditions de travail)</a></p>

                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/fr/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">D’entre eux ont déclaré être exposés à la fumée, aux vapeurs, aux poudres et aux poussières pendant plus d’un quart de leur temps de travail (enquête européenne sur les conditions de travail).</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Mesures de prévention <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Afin de protéger les travailleurs contre les substances dangereuses, la première étape consiste à réaliser une évaluation des risques. Des mesures doivent ensuite être prises de manière à éliminer ou amenuiser les risques autant que possible. La législation européenne concernant la protection des travailleurs définit un classement par priorité des mesures que les employeurs doivent prendre pour contrôler les risques que présentent les substances dangereuses.</p>

                                <p><a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Élimination des substances dangereuses</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/en/infosheet-substitution" target="_blank">Substitution par des substances, des produits chimiques ou des procédés moins dangereux
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Mesures techniques, comme l’élimination progressive</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Mesures organisationnelles, comme la séparation des lieux de travail</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Équipement de protection individuelle
                                  </a></p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Maîtriser l’usage des substances dangereuses <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Les substances dangereuses se trouvent sur pratiquement tous les lieux de travail. Dans toute l’Europe, des millions de travailleurs entrent en contact avec des agents liquides, gazeux ou solides qui présentent un risque pour leur santé ou leur sécurité.</p>

                                <p><a class="link" href="https://healthy-workplaces.eu/fr/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Culture de prévention</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/ds-e-tool" target="_blank">Évaluation des risques</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Mesures de prévention</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/practical-tools" target="_blank">Outils &amp; éléments d’orientation </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/fr/tools-and-publications/legislation" target="_blank">Législation</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>
                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Risques encourus par...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Risques encourus par des catégories spécifiques</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Substances cancérigène...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Substances cancérigènes</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Avantages</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Avantages</span></span>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Mesures de prévention</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
