
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Kako upravljati opasnim tvarima</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Za potpuni prikaz upotrijebite veći zaslon
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>
              <p class="lead">Upotrebljavaju li se u vašem poduzeću opasne tvari?
                <br />
                Jeste li svjesni rizika koje opasne tvari predstavljaju za radnike i prednosti upravljanja tim rizicima?
              </p>
              <p>U ovoj infografici prikazane su osnovne činjenice, glavni rizici i preventivne mjere. Saznajte više o smjernicama i brojnim praktičnim alatima koji vam mogu pomoći u upravljanju rizicima.
              </p>

            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-hr">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Upravljanje opasnim tvarima</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Izloženost</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Izloženost</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Posebno rizični sekt...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Posebno rizični sektori</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Učinci na zdravlje</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Učinci na zdravlje</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Izloženost</h2>
                                <p>U velikim poduzećima često se upotrebljava više od tisuću raznih kemijskih produkata (npr. boje, tinte, ljepila i sredstva za čišćenje), a milijuni radnika dolaze u dodir s kemijskim i biološkim sredstvima koja mogu biti štetna za njih. Međutim, mnogi radnici nisu svjesni da rukuju opasnim tvarima.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/hr/surveys-and-statistics-osh/esener/2014hr" target="_blank">38% poduzeća u EU-u prijavilo je da su kemijske ili biološke tvari u obliku tekućina, para ili prašine prisutne u njihovim radnim prostorima (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/hr/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Među radnicima obuhvaćenima ispitivanjem u EU-u 17% njih izjavilo je da su barem četvrtinu svojeg radnog vremena izloženi kemijskim produktima ili tvarima (europsko istraživanje o radnim uvjetima)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/hr/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% izjavilo je da udišu pare više od četvrtine svojeg radnog vremena (europsko istraživanje o radnim uvjetima)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/hr/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% izjavilo je da su izloženi dimu, parama, prahu i prašini više od četvrtine svojeg radnog vremena (europsko istraživanje o radnim uvjetima)</a></p>
                              </div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Posebno rizični sektori <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Opasne tvari prisutne su u svim sektorima, kako u tradicionalnim sektorima poput poljoprivrede, industrijske proizvodnje i građevinarstva, tako i u „novim” sektorima kao što su recikliranje ili kućna njega. Nove tehnologije, rastući sektori i promjene u načinu organizacije rada mogu povećati rizike u pogledu opasnosti od kemijskih sredstava. Izloženost opasnim tvarima u različitim sektorima prijavljena je u sljedećim postotcima:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Poljoprivreda, šumarstvo i ribarstvo</span> <span class="line-chart"><span class="number">52</span>Industrijska proizvodnja</span> <span class="line-chart"><span class="number">51</span>Građevinarstvo, gospodarenje otpadom, opskrba vodom i električnom energijom</span>
                                </p>


                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Posebno ugrožene skupine <a class="info-link" href="https://osha.europa.eu/hr/surveys-and-statistics-osh/esener/2014hr" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Određene skupine radnika mogu biti izložene većem riziku od izlaganja opasnim tvarima na radnom mjestu jer je riječ o radnicima koji nisu iskusni, nisu svjesni opasnosti ili su fizički ranjiviji. Osobe koje često mijenjaju radna mjesta ili obavljaju privremene ili neformalne poslove također mogu biti izložene većem riziku. I ostali radnici mogu biti ranjivi u određenim razdobljima zbog različitih razloga, na primjer ako obavljaju visokorizične, zahtjevne radne aktivnosti, kao što je održavanje.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Žene</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Mladi radnici</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Radnici migranti</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Osobe koje obavljaju privremene ili neformalne poslove</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Radnici koji nisu dostatno osposobljeni ili informirani</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Karcinogene tvari <a class="info-link" href="https://healthy-workplaces.eu/hr/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Izloženost karcinogenim tvarima na radnom mjestu uzrokuje većinu profesionalnih bolesti sa smrtnim ishodom u EU-u. Mnoge od tih smrtnih slučajeva moguće je spriječiti.  U Europskoj uniji na snazi su posebne odredbe o zaštiti radnika; u skladu s Direktivom o karcinogenim i mutagenim tvarima, poslodavci moraju procjenjivati i izbjegavati izloženost karcinogenim ili mutagenim tvarima ili je svesti na najmanju moguću mjeru. EU-OSHA jedan je od šest partnera koji podupiru inicijativu za Plan djelovanja za karcinogene tvari.
                                </p>
                                <p class="big-number-chart"><strong>Oko <span class="number">1,6 milijuna</span></strong> osoba radne dobi u Europi svake godine dobije dijagnozu da boluje od raka
                                </p>
                                <p class="big-number-chart"><strong>više od <span class="number">120 000 osoba</span></strong>Procjenjuje se da svake godine u Europskoj uniji više od 120 000 osoba oboli od raka uslijed izloženosti karcinogenim tvarima na radu
                                </p>
                                <p class="big-number-chart"><strong>Približno <span class="number">80 000 osoba umre</span></strong> umre svake godine zbog izloženosti karcinogenim tvarima na radu
                                </p>
                                <p class="big-number-chart"><strong>Oko <span class="number">53% svih smrtnih slučajeva povezanih s radom</span></strong> posljedica je izloženosti karcinogenim tvarima
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 milijarde €</span></strong> Izravni godišnji troškovi izloženosti karcinogenim tvarima na radu diljem Europe iznose 2,4 milijarde eura
                                </p>

                                <p>&nbsp;
                                </p>




                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Koristi <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Uspješno upravljanje opasnim tvarima na mjestima rada svima donosi koristi. Aktivno i participativno upravljanje sigurnošću i zdravljem radnika čini poslovanje konkurentnijim, primjerice poboljšava se produktivnost.
                                </p>
                                <ol class="big-list">
                                  <li>Bolje zdravlje radnika</li>
                                  <li>Manja odsutnost zbog bolesti</li>
                                  <li>Niži troškovi za mjere kontrole, osobnu zaštitnu opremu i/ili zdravstveni nadzor</li>
                                  <li>Uštede u pogledu troškova za zaštitu od požara i eksplozija</li>
                                  <li>Smanjeni troškovi odlaganja otpada</li>
                                  <li>Poboljšani ugled u očima klijenata i potrošača</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Učinci na zdravlje</h2>
                                <p>Zdravstveni problemi koji mogu biti uzrokovani radom s opasnim tvarima raznoliki su: od blage nadraženosti oka i kože do ozbiljnih učinaka na zdravlje kao što su urođene mane i rak. Posljedice mogu biti akutne ili dugoročne, a neke tvari mogu imati kumulativan učinak.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Kožne bolesti</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergije
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Bolesti dišnog sustava</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Rak
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemi s reproduktivnim zdravljem i urođene mane
                                  </a><br />
                                  <span class="link">Oštećenja mozga i živčanog sustava</span>
                                  <br />
                                  <span class="link">Trovanje</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Preventivne mjere <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Kako bi se zaštitilo radnike od opasnih tvari, prvi korak je provođenje procjene rizika. Potom je potrebno poduzeti mjere uklanjanja ili smanjenja rizika koliko je to moguće. Europskim zakonodavstvom o zaštiti radnikâ utvrđuje se hijerarhija mjera koje poslodavci trebaju poduzeti kako bi kontrolirali rizike povezane s opasnim tvarima.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Uklanjanje opasnih tvari</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/infosheet-substitution" target="_blank">Zamjena manje opasnim tvarima, kemijskim produktima ili procesima</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Tehničke mjere kao što je ispuštanje</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organizacijske mjere, kao što je odvajanje mjesta rada</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Osobna zaštitna oprema</a>
                                </p></div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Upravljanje opasnim tvarima <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Opasne tvari prisutne su na gotovo svim mjestima rada. Milijuni radnika diljem Europe dolaze u dodir s tekućim, plinovitim ili krutim tvarima koje predstavljaju rizik za njihovo zdravlje ili sigurnost.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/hr/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Kultura prevencije
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/ds-e-tool" target="_blank">Procjena rizika</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Preventivne mjere</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/practical-tools" target="_blank">Alati i smjernice</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hr/tools-and-publications/legislation" target="_blank">Zakonodavstvo</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Posebno ugrožene sku...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Posebno ugrožene skupine</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Karcinogene tvari</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Karcinogene tvari</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Koristi</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Koristi</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Preventivne mjere</span></span></div></div>
                </div>

              </div>
            </div>
          </div>



          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
