
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Veszélyes anyagok kezelése</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>A teljes felhasználói élményhez
          <br>használjon nagyobb képernyőt.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Használnak az Ön vállalkozásánál veszélyes anyagokat?
                <br />
                Tisztában van-e azzal, hogy a veszélyes anyagok milyen kockázatokat jelentenek a munkavállalók számára, és hogy milyen előnyökkel jár a kockázatok kezelése?
              </p>
              <p>Ez az infografika az alapvető tényeket, a fő kockázatokat és a megelőző intézkedéseket mutatja be. Ismerje meg a kockázatok kezelését segítő iránymutatásokat és gyakorlati eszközöket.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-hu">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>A veszélyes anyagok helyes kezelése</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Expozíció</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Expozíció</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Különösen veszélyezt...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Különösen veszélyeztetett ágazatok</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Egészségügyi hatások</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Egészségügyi hatások</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Expozíció</h2>
                                <p>A nagyvállalatok gyakran több, mint 1000 különböző vegyi terméket használnak (például festékeket, tintákat, enyveket és tisztítószereket), és munkavállalók milliói érintkeznek olyan vegyi és biológiai anyagokkal, amelyek károsak lehetnek számukra. Sok munkavállaló azonban nincs tudatában annak, hogy veszélyes anyagokkal foglalkozik.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/hu/surveys-and-statistics-osh/esener/2014hu" target="_blank">Az uniós vállalkozások 38%-a számolt be arról, hogy a munkahelyeiken folyadékok, gőzök vagy por formájában vegyi vagy biológiai anyagok vannak jelen (ESENER-2).</a>
                                </p>
                                <p class="progress-graph-container"><span style="margin-top: 6px;"  class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/hu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Az EU-ban megkérdezett munkavállalók 17%-a számolt be arról, hogy vegyipari termékekkel vagy vegyi anyagokkal érintkezik munkaidejének legalább egynegyedében (európai munkakörülmény-felmérés)</a>
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/hu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11%-a számolt be arról, hogy gőzt lélegez be munkaidejének több, mint egynegyedében (európai munkakörülmény-felmérés)</a>
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/hu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15%-a számolt be arról, hogy füsttel, gőzzel vagy porral érintkezik munkaidejének több, mint egynegyedében (európai munkakörülmény-felmérés)</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Különösen veszélyeztetett ágazatok <a class="info-link" href="https://osha.europa.eu/hu/surveys-and-statistics-osh/esener/2014hu" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Minden ágazatban jelen vannak veszélyes anyagok, a hagyományos iparágak, mint például a mezőgazdaság, a gyártóipar vagy az építőipar mellett az „új és feltörekvő” ágazatokban, mint például az újrahasznosításban vagy az otthoni ápolásban úgyszintén. Az új technológiák, az ágazatok bővülése és a munkaszervezési módszerek megváltozása következtében a vegyi anyagok káros hatásai miatt keletkező kockázatok megnövekedhetnek. A különböző ágazatokban a veszélyes anyagoknak való kitettséget a következő százalékos arányokban jelentették:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Mezőgazdaság, erdőgazdálkodás és halászat</span> <span class="line-chart"><span class="number">52</span>Gyártóipar</span> <span class="line-chart"><span class="number">51</span>Építőipar, hulladékgazdálkodás, valamint víz- és villamosenergia-ellátás</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Egyes csoportokat érintő kockázatok <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>A munkavállalók egyes csoportjai, tapasztalatlanságuk, tájékozatlanságuk vagy fizikai kiszolgáltatottságuk miatt nagyobb arányban lehetnek a munkahelyi veszélyes anyagok kockázatainak kitéve. Azok is nagyobb kockázatnak lehetnek kitéve, akik gyakran váltanak munkahelyet, illetve akik ideiglenes vagy nem szabályos munkát végeznek. Más munkavállalók – például olyan, nagykockázatú, nem rutinjellegű munkavégzés során, mint a karbantartás – bizonyos időszakokban, különböző okokból szintén nagyobb kockázatnak lehetnek kitéve.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Nők</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Fiatal munkavállalók</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Migráns munkavállalók</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Ideiglenes vagy nem szabályos munkát végzők</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Képzetlen vagy tájékozatlan munkavállalók</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Rákkeltő anyagok <a class="info-link" href="https://healthy-workplaces.eu/hu/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>A munkahelyi rákkeltő anyagokkal való érintkezés okozza az EU-ban a halálos foglalkozási megbetegedések nagy részét. E halálesetek közül sok megelőzhető lenne.  Az EU-ban a munkavállalók védelmére külön rendelkezések vannak érvényben: a rákkeltő anyagokról és a mutagénekről szóló irányelv szerint a munkáltatóknak értékelniük kell és meg kell előzniük, vagy minimálisra kell csökkenteniük a rákkeltő anyagokkal és mutagénekkel szembeni expozíciót. Az EU-OSHA egyike a rákkeltő anyagokkal kapcsolatos ütemtervet támogató hat partnernek.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">1,6 millió</span></strong>Európában évente körülbelül 1,6 millió munkaképes korú személyt diagnosztizálnak rákkal.
                                </p>
                                <p class="big-number-chart"><strong>Mint <span class="number">120 000 embernél</span></strong>Becslések szerint a munkahelyi rákkeltő anyagokkal való érintkezés következtében az EU-ban évente több, mint 120 000 embernél alakul ki rákos megbetegedés.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">80 000</span> haláleset következik</strong>Évente körülbelül 80 000 haláleset következik be a munkahelyi rákkeltő anyagokkal való érintkezés miatt.
                                </p>
                                <p class="big-number-chart"><strong>Mintegy <span class="number">53%-át rákkeltő</span></strong>A munkával összefüggő halálesetek mintegy 53%-át rákkeltő anyagok okozzák.
                                </p>
                                <p class="big-number-chart"><strong><span class="number"> 2,4 milliárd euro </span> a munkahelyi</strong> Európában évente 2,4 milliárd euro a munkahelyi rákkeltő anyagokkal való érintkezés közvetlen költsége.
                                </p>
                                <p>&nbsp;
                                </p></div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Előnyök <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Mindenkinek előnye származik a veszélyes anyagok hatékony munkahelyi kezeléséből. Az aktív, részvételen alapuló biztonsági és egészségvédelmi irányítás, például a termelékenység javításával versenyképesebbé teszi a vállalkozásokat.
                                </p>
                                <ol class="big-list">
                                  <li>A munkavállalók jobb egészségi állapota</li>
                                  <li>A betegszabadságok alacsonyabb aránya</li>
                                  <li>Kevesebb kiadás kontrollintézkedésekre, egyéni védőeszközökre és egészségellenőrzésre</li>
                                  <li>Költségmegtakarítás a tűz- és robbanásvédelem területén</li>
                                  <li>A hulladékártalmatlanítás költségeinek csökkenése</li>
                                  <li>Jobb hírnév a vevők és a fogyasztók szemében</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Egészségügyi hatások
                                </h2>
                                <p>A veszélyes anyagokkal való munkavégzés az enyhe szem- és bőrirritációtól kezdve olyan súlyos egészségügyi problémákat is okozhat, mint például a születési rendellenességek és a rákos megbetegedések. A hatások lehetnek akut jellegűek vagy hosszú távúak, illetve egyes anyagok kumulatív hatással járhatnak.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Bőrbetegségek</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergia
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Légzőszervi megbetegedések</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Rákos megbetegedések
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Termékenységi problémák és születési rendellenességek
                                  </a><br />
                                  <span class="link">Agy- és idegrendszeri károsodás</span>
                                  <br />
                                  <span class="link">Mérgezés</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Megelőző intézkedések <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>A munkavállalók veszélyes anyagokkal szembeni védelme érdekében első lépésként kockázatértékelést kell végezni. Ezt követően intézkedéseket kell hozni a kockázatok megszüntetése vagy lehető legkisebbre csökkentése érdekében. A munkavállalók védelmére vonatkozó európai jogszabályok meghatározzák azon intézkedések rangsorát, amelyeket a munkáltatóknak kell elfogadni a veszélyes anyagok kockázatainak kezelése érdekében.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">A veszélyes anyagok eltávolítása</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/infosheet-substitution" target="_blank">Kevésbé veszélyes anyagokkal, vegyipari termékekkel vagy eljárásokkal történő helyettesítés</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Technikai intézkedések, például elszívás</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Szervezeti intézkedések, például a munkaterületek elkülönítése</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Egyéni védőeszközök</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>A veszélyes anyagok helyes kezelése <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Veszélyes anyagok szinte minden munkahelyen jelen vannak. Európa-szerte több millió munkavállaló érintkezik olyan, folyékony, gáz vagy szilárd halmazállapotú anyagokkal, amelyek kockázatot jelentenek egészségükre vagy biztonságukra.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/hu/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Megelőzési kultúra
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/ds-e-tool" target="_blank">Kockázatértékelés</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Megelőző intézkedések</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/practical-tools" target="_blank">Eszközök és iránymutatások</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/hu/tools-and-publications/legislation" target="_blank">Jogszabályi háttér</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Egyes csoportokat...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Egyes csoportokat érintő kockázatok</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Rákkeltő anyagok</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Rákkeltő anyagok</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Előnyök</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Előnyök</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Megelőző intézkedések</span></span></div></div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
