<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Hvernig á að meðhöndla hættuleg efni</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Fyrir heildarupplifun skaltu nota stærri skjá
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Notar fyrirtækið þitt hættuleg efni?
                <br />
                Ertu meðvitaður um hættuna sem stafar af hættulegum efnum fyrir starfsmenn og ávinninginn af því að takast á við þau?
              </p>
              <p>Þessi upplýsingamynd kynnir helstu staðreyndir, helstu áhættuþætti og varnarráðstafanir. Kynntu þér leiðsögnina og mörg hagnýt tól sem geta hjálpað þér að stjórna áhættunni.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-is">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Stjórnun hættulegra efna</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Váhrif</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Váhrif</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Starfsgreinar með sé...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Starfsgreinar með sérstaka áhættu</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Áhrif á heilsu</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Áhrif á heilsu</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Váhrif</h2>
                                <p>Stór fyrirtæki nota oft meira en 1.000 mismunandi efnavörur (t.d. málningu, blek, lím og hreinsiefni) og milljónir starfsmanna komast í snertingu við kemísk og líffræðileg efni sem geta valdið þeim skaða. Hins vegar gera margir starfsmenn sér ekki grein fyrir að þeir starfa með hættulegum efnum.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/is/surveys-and-statistics-osh/esener/2014is" target="_blank">38% fyrirtækja í ESB tilkynntu að kemísk og líffræðileg efni í formi vökva, gufu eða ryks væru til staðar á vinnustöðum þeirra (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/is/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Í starfsmannakönnun í ESB kom í ljós að 17% starfsmanna komu í snertingu við kemísk og líffræðileg efni í að minnsta kosti fjórðung af vinnutíma þeirra (Evrópukönnun um vinnuaðstæður)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/is/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% greindu frá því að þeir önduðu að sér gufu í meira en fjórðung af vinnutímanum (Evrópukönnun um vinnuaðstæður)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% greindu frá því að þeir komust í snertingu við reyk, gufur eða duft og ryk í meira en fjórðung af vinnutímanum (Evrópukönnun um vinnuaðstæður)</a></p></div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Starfsgreinar með sérstaka áhættu <a class="info-link" href="https://osha.europa.eu/is/surveys-and-statistics-osh/esener/2014is" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Hættuleg efni eru til staðar á öllum sviðum, hvort sem er í hefðbundnum greinum eins og landbúnaði, framleiðslu eða byggingarvinnu, eða 'nýjum og upprennandi' greinum eins og endurvinnslu eða heimaumönnunarþjónustu. Ný tækni, vaxandi atvinnugeirar og breytingar á vinnuskipulagi geta leitt til aukinnar hættu á skaða af völdum kemískra áhrifavalda. Tilkynnt var um váhrifum af hættulegum efnum í mismunandi greinum með þessum prósentustigum:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Landbúnaður, skógrækt og fiskveiðar</span> <span class="line-chart"><span class="number">52</span>Framleiðsla</span> <span class="line-chart"><span class="number">51</span>Byggingarvinna, úrgangsstjórnun og vatns- og rafveita</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Áhætta tiltekinna hópa <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Ákveðnir hópar starfsmanna geta verið í meiri hættu á að verða fyrir hættulegum efnum á vinnustað vegna þess að þeir eru óreyndir, ómeðvitaðir um hætturnar eða líkamlega viðkvæmari. Fólk sem skiptir oft um starf eða er í tímabundinni eða óformlegri vinnu getur einnig verið í meiri hættu. Aðrir starfsmenn geta einnig verið viðkvæmir á ákveðnum tímum af mismunandi ástæðum, til dæmis þegar þeir takast á við áhættusöm og störf eins og viðhaldsvinnu, sem ekki eru hluti af daglegri vinnurútínunni þeirra.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Kvenmenn</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Ungir launþegar</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Farandverkamenn</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Fólk í hlutastörfum eða óformlegum störfum</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Starfsmenn sem skortir þjálfun og upplýsingar</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Krabbameinsvaldandi efni <a class="info-link" href="https://healthy-workplaces.eu/is/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Útsetningar fyrir krabbameinsvaldandi efnum á vinnustöðum valda meirihluta banvæna vinnutengdra sjúkdóma innan ESB. Hægt væri að koma í veg fyrir mörg af þessum dauðsföllum.  Það eru sérstök lagaákvæði í Evrópusambandinu til að vernda starfsfólk: Samkvæmt tilskipuninni um krabbameinsvaldandi efni verða atvinnurekendur að meta og forðast eða lágmarka váhrif frá krabbameinsvaldandi efnum eða stökkbreytivöldum. EU-OSHA er einn af sex samstarfsaðilum í verkefninu Vegvísir um krabbameinsvaldandi efni.
                                </p>
                                <p class="big-number-chart"><strong>Um <span class="number">1,6 milljónir</span></strong>Um 1,6 milljónir fólks á vinnualdri greinast með krabbamein á hverju ári í Evrópu.
                                </p>
                                <p class="big-number-chart"><strong>Meira en <span class="number">120.000 manns</span></strong>Áætlað er að meira en 120.000 manns þróa krabbamein á ári í ESB vegna váhrifa frá krabbameinsvaldandi efnum á vinnustöðum
                                </p>
                                <p class="big-number-chart"><strong>Bil <span class="number"> 80.000 dauðsföll</span></strong>
                                  Um það bil 80.000 dauðsföll eiga sér stað á hverju ári vegna váhrifa frá krabbameinsvaldandi efnum á vinnustöðum
                                </p>
                                <p class="big-number-chart"><strong>Um <span class="number">53% allra vinnutengdra dauðsfalla</span></strong>Um 53% allra vinnutengdra dauðsfalla verða til vegna váhrifa frá krabbameinsvaldandi efnum
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 milljarðar evra</span>  á ári</strong>
                                  2,4 milljarðar evra á ári eru beinn kostnaður vegna váhrifa frá krabbameinsvaldandi efnum á vinnustöðum í Evrópu
                                </p>
                                <p>&nbsp;
                                </p>




                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Ávinningur <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Allir njóta góðs af stjórnun á hættulegum efnum á vinnustöðum. Virk vinnuvernd með þátttöku starfsfólks og stjórn fyrirtækis gerir fyrirtækið samkeppnishæfara, til dæmis með því að bæta framleiðni.
                                </p>
                                <ol class="big-list">
                                  <li>Bætt heilsa starfsmanna</li>
                                  <li>Færri veikindadagar</li>
                                  <li>Lægri kostnaður við stjórnunarráðstafanir, hlífðarbúnað og heilbrigðiseftirlit</li>
                                  <li>Sparnaður við eld- og sprengivarnir</li>
                                  <li>Minni kostnaður við förgun úrgangs</li>
                                  <li>Betri orðspor í augum viðskiptavina og neytenda</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Áhrif á heilsu</h2>
                                <p>Heilsufarsvandamál, sem geta komið upp vegna vinnu með hættuleg efni, eru allt frá mildri ertingu í augum og húð yfir í alvarleg áhrif eins og fæðingargalla og krabbamein. Áhrifin geta verið bráð eða langvarandi og sum efni geta haft uppsöfnuð áhrif.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Húðsjúkdómar</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Ofnæmi
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Öndunarfærasjúkdómar</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Krabbamein
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Æxlunarvandamál og fæðingargallar
                                  </a><br />
                                  <span class="link">Skemmdir á heila og taugakerfinu</span>
                                  <br />
                                  <span class="link">Eitrun</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Fyrirbyggjandi ráðstafanir <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Til þess að verja starfsmenn gegn hættulegum efnum þá er fyrsta skrefið að framkvæma áhættumat. Síðan ætti að grípa til ráðstafana til þess að útrýma eða draga úr hættum eins og unnt er. Evrópulöggjöf um verndun starfsmanna kveður á um stigveldi ráðstafana sem atvinnurekendur þurfa að grípa til við að stjórna áhættum sem stafa af hættulegum efnum.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Útrýming hættulegra efna</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/infosheet-substitution" target="_blank">Útskipti með minni hættulegum efnum, efnavörum eða ferlum</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Tæknilegar ráðstafarnir, eins og niðurbrot</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Skipulagsráðstafanir, eins og niðurskipting starfsstöðva</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Persónulegur hlífðarbúnaður</a>
                                </p></div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Stjórnun hættulegra efna <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Hættuleg efni er að finna á næstum öllum vinnustöðum. Um alla Evrópu koma milljónir starfsmanna í snertingu við vökva, gas eða föst efni eru hættuleg heilsu eða öryggi starfsmanna.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/is/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Áhættuforvarnamenning
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/ds-e-tool" target="_blank">Áhættumat</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Fyrirbyggjandi ráðstafanir</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/practical-tools" target="_blank">Tæki og leiðbeiningar</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/is/tools-and-publications/legislation" target="_blank">Löggjöf</a><br />
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Áhætta tiltekinna hó...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Áhætta tiltekinna hópa</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Krabbameinsvaldandi ...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Krabbameinsvaldandi efni</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Ávinningur</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Ávinningur</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Fyrirbyggjandi ráðstafanir</span></span></div></div>
                </div>

              </div>
            </div>
          </div>


          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
