
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Come gestire le sostanze pericolose</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Per usufruire di un’esperienza completa,
          <br>utilizzare uno schermo di maggiori dimensioni
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">La tua azienda utilizza sostanze pericolose?
                <br />
                Sei a conoscenza dei rischi che le sostanze pericolose comportano per i lavoratori e dei benefici della relativa gestione?
              </p>
              <p>La presente infografica illustra i fatti di base, i principali rischi e le misure di prevenzione. Scopri di più sugli orientamenti e sui molti strumenti pratici che possono aiutarti a gestire i rischi.
              </p></div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-it">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>IL LAVORO IN PRESENZA DI SOSTANZE PERICOLOSE</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Esposizione<br />
</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Esposizione<br />
</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Settori particolarme...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Settori particolarmente a rischio</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Effetti sulla salute</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Effetti sulla salute</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Esposizione</h2>
                                <p>Spesso le grandi imprese utilizzano più di 1 000 diversi prodotti chimici (come vernici, inchiostri, colle e detergenti) e milioni di lavoratori possono venire a contatto con agenti chimici e biologici potenzialmente dannosi. Molti lavoratori, tuttavia, non sono consapevoli del fatto che hanno a che fare con sostanze pericolose.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/it/surveys-and-statistics-osh/esener/2014it" target="_blank">Il 38 % delle imprese dell’UE ha dichiarato che sul luogo di lavoro erano presenti sostanze chimiche o biologiche sotto forma di liquidi, vapori o polveri (ESENER-2).</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/it/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Come riferito nel corso di inchieste tra i lavoratori dell’UE: il 17 % è esposto a sostanze o prodotti chimici per almeno un quarto dell’orario di lavoro (Indagine Europea sulle Condizioni di Lavoro)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/it/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">l’11 % respira vapori per oltre un quarto dell’orario di lavoro (Indagine Europea sulle Condizioni di Lavoro)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/it/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">il 15 % è esposto a fumo, esalazioni e polveri per oltre un quarto dell’orario di lavoro (Indagine europea sulle Condizioni di Lavoro).</a></p></div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Settori particolarmente a rischio <a class="info-link" href="https://osha.europa.eu/it/surveys-and-statistics-osh/esener/2014it" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>In tutti i settori sono presenti sostanze pericolose: sia in quelli tradizionali come l’agricoltura, l’industria manifatturiera o l’edilizia; sia in settori «nuovi ed emergenti», come il riciclaggio o l’assistenza a domicilio. Le nuove tecnologie, i settori in espansione e i cambiamenti nell’organizzazione del lavoro possono comportare un maggiore rischio in termini di danni da agenti chimici. L’esposizione a sostanze pericolose è stata riportata in diversi settori in misura delle seguenti percentuali:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Agricoltura, silvicoltura e pesca</span> <span class="line-chart"><span class="number">52</span>Industria manifatturiera</span> <span class="line-chart"><span class="number">51</span>Edilizia, gestione dei rifiuti, distribuzione di acqua ed energia elettrica</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Rischi per categorie specifiche <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Per determinate categorie di lavoratori può sussistere un maggiore rischio di esposizione a sostanze pericolose sul posto di lavoro a causa di inesperienza, scarsa informazione o una maggiore vulnerabilità fisica. Anche chi cambia spesso lavoro o svolge lavoro temporaneo o non contrattuale, può essere esposto a un rischio più elevato. Altri lavoratori possono anche essere piu' vulnerabili in determinate fasce orarie, ad esempio perché svolgono attività lavorative ad alto rischio e non di routine, come i lavori di manutenzione.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Donne</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Lavoratori giovani</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Lavoratori immigrati</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Lavoratori interinali o non contrattuali</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Lavoratori carenti in termini di formazione e informazione</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Agenti cancerogeni <a class="info-link" href="https://healthy-workplaces.eu/it/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>L’esposizione ad agenti cancerogeni è causa della maggior parte delle malattie mortali contratte sul posto di lavoro nell’UE. Molti di questi decessi possono pero' essere prevenuti.  Nell’UE esistono disposizioni specifiche per la protezione dei lavoratori: in conformità alla direttiva sugli agenti cancerogeni o mutageni, i datori di lavoro devono valutare ed evitare o ridurre al minimo l’esposizione ad agenti cancerogeni o mutageni. L’EU-OSHA è uno dei sei partner che sostengono l’iniziativa per una tabella di marcia sugli agenti cancerogeni.
                                </p>
                                <p class="big-number-chart"><strong>Circa <span class="number">1,6 milioni </span></strong> Ogni anno in Europa viene diagnosticato il cancro a circa 1,6 milioni di persone in età lavorativa.
                                </p>
                                <p class="big-number-chart"><strong>Più di <span class="number">120 000 persone</span></strong>Si stima che nell’UE più di 120 000 persone l’anno, si ammalino di cancro in conseguenza di un’esposizione ad agenti cancerogeni sul posto di lavoro.
                                </p>
                                <p class="big-number-chart"><strong>Sono circa <span class="number">80 000 l’anno</span></strong> i decessi dovuti a esposizione ad agenti cancerogeni.
                                </p>
                                <p class="big-number-chart"><strong>Il <span class="number">53% del numero complessivo di decessi correlati all’attività lavorativa</span></strong> è causato da agenti cancerogeni.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 miliardi di EUR</span>  l’anno</strong> I costi diretti dell’esposizione ad agenti cancerogeni sul lavoro in Europa ammontano a 2,4 miliardi di EUR l’anno.
                                </p>
                                <p>&nbsp;
                                </p></div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Benefici <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Una gestione efficace delle sostanze pericolose sul luogo di lavoro comporta benefici per tutti. Una politica di sicurezza attiva e partecipativa e la gestione della salute rendono le imprese più competitive, per esempio migliorando la produttività.
                                </p>
                                <ol class="big-list">
                                  <li>Miglioramento della salute dei lavoratori</li>
                                  <li>Diminuzione delle assenze per malattia</li>
                                  <li>Risparmi sulla spesa destinata alle misure di controllo, attrezzature protettive e sulla sorveglianza sanitaria</li>
                                  <li>Risparmi sui costi correlati alla protezione da incendi ed esplosioni</li>
                                  <li>Riduzione dei costi di smaltimento dei rifiuti</li>
                                  <li>Una migliore reputazione agli occhi di clienti e  consumatori</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Effetti sulla salute</h2>
                                <p>I problemi di salute potenzialmente derivanti al lavoro in presenza di sostanze pericolose vanno da irritazioni oculari e cutanee lievi a effetti gravi, come difetti congeniti e cancro. Tali effetti possono essere acuti o a lungo termine e, per alcune sostanze, avere un effetto cumulativo.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Malattie della pelle</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergie
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Malattie respiratorie</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Tumori
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemi di riproduzione e difetti congeniti
                                  </a><br />
                                  <span class="link">Danni al cervello e al sistema nervoso</span>
                                  <br />
                                  <span class="link">Avvelenamento</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Misure preventive <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Per proteggere i lavoratori dalle sostanze pericolose, il primo passo è effettuare una valutazione dei rischi. Successivamente, è necessario attuare misure volte a eliminare o ridurre quanto più possibile tali rischi. La normativa europea in materia di tutela dei lavoratori prevede una serie di misure che i datori di lavoro devono adottare al fine di controllare i rischi posti dalle sostanze pericolose.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminazione delle sostanze pericolose</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/infosheet-substitution" target="_blank">Sostituzione con sostanze, prodotti chimici o procedimenti meno pericolosi</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Misure tecniche (come, per es., l’esaurimento)</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Misure organizzative, come la separazione dei luoghi di lavoro</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Dispositivi di protezione individuale</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>IL LAVORO IN PRESENZA DI SOSTANZE PERICOLOSE <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>In quasi tutti i luoghi di lavoro sono presenti sostanze pericolose. In tutta Europa, milioni di lavoratori entrano in contatto con agenti liquidi, gassosi o solidi che comportano rischi per la salute o la sicurezza dei lavoratori.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/it/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Cultura della prevenzione
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/ds-e-tool" target="_blank">Valutazione dei rischi</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Misure preventive</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/practical-tools" target="_blank">Strumenti e orientamenti</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/it/tools-and-publications/legislation" target="_blank">Normativa</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Rischi per categorie...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Rischi per categorie specifiche</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Agenti cancerogeni</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Agenti cancerogeni</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Benefici</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Benefici</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Misure preventive</span></span></div></div>
                </div>

              </div>
            </div>
          </div>


          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
