
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Kaip valdyti pavojingas medžiagas?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Jei norite viską aiškiai matyti,<br>naudokite didesnį ekraną.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>
              <p class="lead">Ar jūsų įmonėje naudojamos pavojingos medžiagos?
                <br />
                Ar žinote apie pavojų, kurį darbuotojams kelia pavojingos medžiagos, ir jų valdymo naudą?
              </p>
              <p>Infografike pateikiami pagrindiniai faktai, rizikos veiksniai ir prevencijos priemonės. Susipažinkite su rekomendacijomis ir įvairiomis praktinėmis priemonėmis, kurios gali padėti jums valdyti riziką.
              </p></div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-lt">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Pavojingų medžiagų valdymas</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Poveikis</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Poveikis</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Ypatingos rizikos se...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Ypatingos rizikos sektoriai</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Poveikis sveikatai</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Poveikis sveikatai</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Poveikis</h2>
                                <p>Didelėse įmonėse dažnai naudojama daugiau kaip 1 000 skirtingų cheminių produktų (pvz., dažai, rašalas, klijai ir valikliai) ir milijonai darbuotojų susiduria su cheminėmis ir biologinėmis medžiagomis, kurios gali jiems pakenkti. Tačiau daugelis darbuotojų nežino, kad jie dirba su pavojingomis medžiagomis.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/lt/surveys-and-statistics-osh/esener/2014lt" target="_blank">38 proc. ES įmonių nurodė, kad jų darbo vietose yra cheminių ar biologinių medžiagų skysčio, dūmų ar dulkių pavidalu (ESENER-2 tyrimas)</a></p>
                                <p class="progress-graph-container"><span style="margin-top: -8px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/lt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Pagal ES apklaustus darbuotojus 17 proc. nurodė turintys sąlytį su cheminiais produktais arba medžiagomis mažiausiai ketvirtį savo darbo laiko (Europos darbo sąlygų tyrimas)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/lt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 proc. nurodė įkvepiantys garus daugiau nei ketvirtį savo darbo laiko (Europos darbo sąlygų tyrimas)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/lt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 proc. teigė patiriantys dūmų, garų, miltelių ir dulkių poveikį daugiau nei ketvirtį savo darbo laiko (Europos darbo sąlygų tyrimas)</a></p>
                              </div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Ypatingos rizikos sektoriai <a class="info-link" href="https://osha.europa.eu/lt/surveys-and-statistics-osh/esener/2014lt" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Pavojingų cheminių medžiagų yra visuose sektoriuose – nuo tradicinių žemės ūkio, gamybos ar statybos iki naujų ir besiformuojančių sektorių, tokių kaip perdirbimas ar priežiūra namuose. Dėl naujų technologijų, sektorių plėtros ir darbo organizavimo tvarkos pokyčių cheminių medžiagų žalos rizika gali didėti. Apie darbą su pavojingomis medžiagomis pranešta įvairiuose sektoriuose (proc. išraiška)
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Žemės ūkis, miškininkystė ir žuvininkystė</span> <span class="line-chart"><span class="number">52</span>Gamyba</span> <span class="line-chart"><span class="number">51</span>Statybos, atliekų tvarkymas, vandens ir elektros energijos tiekimas</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Konkrečioms darbuotojų grupėms kylanti rizika <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Tam tikroms darbuotojų grupėms pavojingos medžiagos darbe gali kelti didesnį pavojų, nes jie neturi patirties, nėra tinkamai informuoti arba yra fiziškai labiau pažeidžiami. Didesnis pavojus tai pat gali kilti žmonėms, kurie dirba laikinai arba neoficialiai. Kiti darbuotojai tam tikru metu taip pat gali būti pažeidžiami dėl įvairių priežasčių, pavyzdžiui, vykdydami neįprastas labai rizikingas užduotis, kaip antai techninės priežiūros darbai.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Moterys</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Jauni darbuotojai</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Darbuotojai migrantai</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Laikinai arba neoficialiai dirbantys asmenys</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Tinkamai neapmokyti ar neinformuoti darbuotojai</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Kancerogenai <a class="info-link" href="https://healthy-workplaces.eu/lt/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Daugiausia mirtinų profesinių ligų ES sukelia kancerogenų poveikis darbo vietoje. Daugelio šių mirčių galima išvengti.  ES teisės aktuose nustatytos konkrečios ES darbuotojus saugančios nuostatos: pagal Kancerogenų ir mutagenų direktyvą darbdaviai turi įvertinti kancerogenų arba mutagenų poveikį ir jo vengti arba jį sumažinti. EU-OSHA yra viena iš šešių Su kancerogenais susijusių veiksmų gairių iniciatyvą remiančių partnerių.
                                </p>
                                <p class="big-number-chart"><strong>Maždaug <span class="number">1,6 mln. </span></strong>Kasmet Europoje vėžys nustatomas maždaug 1,6 mln. darbingo amžiaus žmonių
                                </p>
                                <p class="big-number-chart"><strong>Daugiau kaip <span class="number">120 000 žmonių</span></strong>Apskaičiuota, kad ES dėl kancerogenų poveikio darbe daugiau kaip 120 000 žmonių per metus pradeda vystytis vėžys
                                </p>
                                <p class="big-number-chart"><strong><span class="number">80 000 darbuotojų</span></strong> Dėl kancerogenų poveikio darbe kiekvienais metais miršta apie 80 000 darbuotojų
                                </p>
                                <p class="big-number-chart"><strong>Maždaug <span class="number">53 proc. visų su darbu susijusių</span></strong>Maždaug 53 proc. visų su darbu susijusių mirčių priežastis yra kancerogenai
                                </p>
                                <p class="big-number-chart"><strong>Kasmet patiriama <span class="number">2,4 mlrd. EUR </span></strong>
                                  Dėl kancerogenų poveikio darbe visoje Europoje kasmet patiriama 2,4 mlrd. EUR tiesioginių išlaidų
                                </p>
                                <p>&nbsp;
                                </p>




                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Privalumai <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Efektyvus pavojingų medžiagų valdymas darbo vietoje yra naudingas kiekvienam. Aktyvus, integracinis saugos ir sveikatos valdymas suteikia įmonei daugiau konkurencingumo, pavyzdžiui, padidindamas našumą.
                                </p>
                                <ol class="big-list">
                                  <li>Geresnė darbuotojų sveikata</li>
                                  <li>Mažiau nedarbingumo dėl ligos atvejų</li>
                                  <li>Mažesnės išlaidos kontrolės priemonėms, asmeninės apsaugos priemonėms ir sveikatos priežiūrai</li>
                                  <li>Sutaupoma lėšų, skirtų apsaugai nuo gaisro ir sprogimo</li>
                                  <li>Mažesnės atliekų šalinimo sąnaudos</li>
                                  <li>Geresnis įvaizdis tarp klientų ir vartotojų</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Poveikis sveikatai</h2>
                                <p>Sveikatos sutrikimai, kurių gali kilti dirbant su pavojingomis medžiagomis, yra labai įvairūs: tai ir nedidelis akių ir odos dirginimas, ir sunkūs padariniai, pavyzdžiui, apsigimimai ir vėžys. Padariniai gali pasireikšti staiga arba ilgainiui, o kai kurios medžiagos gali turėti kaupiamąjį poveikį.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Odos ligos</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergijos
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Kvėpavimo takų ligos</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Vėžys
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Reprodukcijos sutrikimai ir apsigimimai
                                  </a><br />
                                  <span class="link">Smegenų ir nervų sistemos pažeidimas</span>
                                  <br />
                                  <span class="link">Apsinuodijimas</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Prevencijos priemonės <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Siekiant apsaugoti darbuotojus nuo pavojingų medžiagų, pirmiausia reikia įvertinti riziką. Tuomet reikia imtis veiksmų, kurie padėtų pašalinti arba kuo labiau sumažinti kylančią riziką. Europos Sąjungos teisės aktuose, kuriais reglamentuojama darbuotojų apsauga, nustatytas priemonių, kurių darbdaviai turi imtis, kad galėtų kontroliuoti pavojingų medžiagų keliamą riziką, eiliškumas.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Pavojingų medžiagų šalinimas</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/infosheet-substitution" target="_blank">Pakeitimas mažiau pavojingomis medžiagomis, cheminiais produktais ar procesais</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Techninės priemonės, pvz., išnaudojimas</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organizacinės priemonės, pavyzdžiui, darbo vietų atskyrimas</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Asmeninės apsaugos priemonės</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Pavojingų medžiagų valdymas <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Beveik visose darbo vietose galima rasti pavojingų medžiagų. Milijonai darbuotojų visoje Europoje susiduria su skysčiais, dujomis ar kietaisiais elementais, kurie kelia riziką darbuotojų sveikatai ar saugai.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/lt/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Prevencijos kultūra
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/ds-e-tool" target="_blank">Rizikos vertinimas</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Prevencijos priemonės</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/practical-tools" target="_blank">Priemonės ir rekomendacijos</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lt/tools-and-publications/legislation" target="_blank">Teisės aktai</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Konkrečioms darbuoto...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Konkrečioms darbuotojų grupėms kylanti rizika</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Kancerogenai</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Kancerogenai</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Privalumai</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Privalumai</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Prevencijos priemonės</span></span></div></div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
