
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Kā pārvaldīt bīstamas vielas</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Pilnīgākam skatam lūdzam izmantot lielāku ekrānu
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Vai jūsu uzņēmumā izmanto bīstamas vielas?
                <br />
                Vai zināt, kādus riskus bīstamās vielas rada darbiniekiem un kādas ir šo risku novēršanas priekšrocības?
              </p>
              <p>Šajā infografikā sniegti pamatfakti, galvenie riski un preventīvie pasākumi. Uzziniet vairāk par norādījumiem un daudziem praktiskiem rīkiem, kas jums var palīdzēt risku pārvaldībā.
              </p></div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-lv">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Turi grožos bīstamās vielas</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Ekspozīcija</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Ekspozīcija</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Īpaši augsta riska n...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Īpaši augsta riska nozares</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Ietekme uz veselību</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Ietekme uz veselību</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Ekspozīcija
                                </h2>
                                <p>Lielos uzņēmumos bieži vien izmanto vairāk nekā 1000 dažādu ķīmisko produktu (piem., krāsas, tintes, līmes un tīrīšanas līdzekļus), un miljoniem darbinieku nonāk saskarē ar ķīmiskiem un bioloģiskiem aģentiem, kas viņiem var kaitēt. Tomēr daudzi darbinieki nenojauš, ka viņi ir saskarē ar bīstamām vielām.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/lv/surveys-and-statistics-osh/esener/2014lv" target="_blank">Eiropas Savienībā 38 % uzņēmumu ziņoja, ka to darbavietās ir ķīmiskās vai bioloģiskās vielas šķidrā, gāzveida vai cietā stāvoklī (ESENER-2).</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" style="margin-top: 6px;"  data-progress="17">-</span><a href="https://www.eurofound.europa.eu/lv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Aptaujājot darbiniekus Eiropas Savienībā: 17 % darbinieku ziņoja, ka viņi ir pakļauti ķīmisko produktu vai vielu ekspozīcijai vismaz ceturtdaļu viņu darbalaika (Eiropas darba apstākļu apsekojums)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/lv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 % ziņoja, ka viņi ieelpo tvaikus vairāk nekā ceturtdaļu viņu darbalaika (Eiropas darba apstākļu apsekojums)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/lv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 % ziņoja, ka viņi ir pakļauti dūmu, tvaiku, pulverveida vielu un putekļu ekspozīcijai vairāk nekā ceturtdaļu viņu darbalaika (Eiropas darba apstākļu apsekojums)</a></p>

                              </div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Īpaši augsta riska nozares <a class="info-link" href="https://osha.europa.eu/lv/surveys-and-statistics-osh/esener/2014lv" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Bīstamās vielas ir visās nozarēs — gan tādās tradicionālās nozarēs kā lauksaimniecība, ražošana vai celtniecība, gan tādās jaunās nozarēs kā reciklēšana vai aprūpe mājās. Jaunu tehnoloģiju, nozaru paplašināšanās un darba organizēšanas veida izmaiņu dēļ ķīmiskie aģenti var radīt lielāku risku. Par bīstamo vielu ekspozīciju tika ziņots dažādās nozarēs ar šādu procentuālo daudzumu:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>lauksaimniecība, mežsaimniecība un zivsaimniecība</span> <span class="line-chart"><span class="number">52</span>Ražošana</span> <span class="line-chart"><span class="number">51</span>Celtniecība, atkritumu apsaimniekošana, ūdensapgāde un elektroapgāde</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Risks konkrētās grupās <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Noteiktas darbinieku grupas var būt pakļautas lielākam bīstamo vielu ekspozīcijas riskam darbavietā viņu pieredzes vai informētības trūkuma vai fiziskās neaizsargātības dēļ. Lielākam riskam ir pakļauti arī cilvēki, kuri bieži maina darbavietas vai veic pagaidu vai neoficiālu darbu. Arī citi darbinieki dažādu iemeslu dēļ noteiktos laikposmos var būt neaizsargāti, piemēram, veicot augsta riska neregulārus darbus, tādus kā tehniskā apkope.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Sievietes</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Gados jauni darbinieki</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Migrējošie darbinieki</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Cilvēki, kuri veic pagaidu vai neoficiālu darbu</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Darbinieki, kuriem trūkst apmācības un informācijas</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Kancerogēnās vielas <a class="info-link" href="https://healthy-workplaces.eu/lv/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Kancerogēno vielu ekspozīcija darbavietā veicina lielāko daļu letālo arodslimību ES. Daudzus nāves gadījumus varētu novērst.  Eiropas Savienībā ir īpaši noteikumi darbinieku aizsardzībai — saskaņā ar Kancerogēnu un mutagēnu direktīvu darbiniekiem jānovērtē un jānovērš vai jāmazina kancerogēnu un mutagēnu ekspozīcija. EU-OSHA ir viena no sešiem partneriem, kas atbalsta iniciatīvu “Ceļvedis par kancerogēnām vielām”.
                                </p>
                                <p class="big-number-chart"><strong>Apmēram <span class="number">1,6 miljoniem</span></strong> Ik gadu Eiropā vēzi diagnosticē apmēram 1,6 miljoniem cilvēku darbspējīgā vecumā.
                                </p>
                                <p class="big-number-chart"><strong>Vairāk nekā <span class="number">120 000 cilvēku</span></strong>Tiek lēsts, ka ES vairāk nekā 120 000 cilvēku gadā saslimst ar vēzi kancerogēnu vielu arodekspozīcijas dēļ.
                                </p>
                                <p class="big-number-chart"><strong>Aptuveni <span class="number">80 000 cilvēku</span></strong> Katru gadu mirst aptuveni 80 000 cilvēku kancerogēnu vielu arodekspozīcijas dēļ.
                                </p>
                                <p class="big-number-chart"><strong>Aptuveni <span class="number">53% visu ar darbu saistīto nāves</span></strong>
                                  Aptuveni 53% visu ar darbu saistīto nāves gadījumu izraisa kancerogēnas vielas.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 miljardus EUR</span></strong>
                                  Tiešās izmaksas kancerogēnu vielu arodekspozīcijas dēļ Eiropā veido 2,4 miljardus EUR.
                                </p>
                                <p>&nbsp;
                                </p>


                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Priekšrocības <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Visi ir ieguvēji, ja darba vietā tiek efektīvi pārvaldītas bīstamās vielas. Aktīva, iesaistoša drošības un veselības pārvaldība vairo uzņēmuma konkurētspēju, piemēram, uzlabojot produktivitāti.
                                </p>
                                <ol class="big-list">
                                  <li>Labāka darbinieku veselība</li>
                                  <li>Mazāks ar slimību saistītas prombūtnes laiks</li>
                                  <li>Zemākas kontroles pasākumu, individuālo aizsardzības līdzekļu un veselības uzraudzības izmaksas</li>
                                  <li>Zemākas ugunsdrošības un sprādzienaizsardzības izmaksas</li>
                                  <li>Zemākas atkritumu likvidēšanas izmaksas</li>
                                  <li>Uzlabota reputācija klientu un patērētāju skatījumā</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Ietekme uz veselību
                                </h2>
                                <p>To veselības problēmu skaitā, ko var izraisīt darbs ar bīstamām vielām, ir viegls acu un ādas kairinājums, kā arī smagas sekas, piemēram, iedzimti defekti un vēzis. Sekas var būt akūtas vai ilgtermiņa, un dažām vielām var būt kumulatīva iedarbība.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Ādas slimības</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alerģijas
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Elpceļu slimības</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Vēzis
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Reproduktīvās sistēmas problēmas un iedzimti defekti
                                  </a><br />
                                  <span class="link">Smadzeņu un nervu sistēmas bojājums</span>
                                  <br />
                                  <span class="link">Saindēšanās</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Preventīvi pasākumi <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Lai aizsargātu darbiniekus no bīstamām vielām, vispirms ir jānovērtē riski. Pēc tam ir pēc iespējas maksimāli jānovērš vai jāsamazina riski. Eiropas tiesību aktos darbinieku aizsardzībai ir noteikta to pasākumu hierarhija, kas darba devējiem jāīsteno, lai kontrolētu bīstamu vielu radītos riskus.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Bīstamo vielu likvidēšana</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/infosheet-substitution" target="_blank">Aizstāšana ar mazāk bīstamām vielām, ķīmiskiem produktiem vai procesiem</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Tehniski pasākumi, piemēram, ventilācijas ieviešana</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organizatoriski pasākumi, piemēram, darba vietu nodalīšana</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Individuālie aizsardzības līdzekļi</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Turi grožos bīstamās vielas <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Gandrīz visās darbavietās ir bīstamās vielas. Miljoniem darbinieku Eiropā nonāk saskarē ar šķidrām, gāzveida vai cietām vielām, kas rada risku darbinieku veselībai vai drošībai.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/lv/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Preventīvi paradumi
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/ds-e-tool" target="_blank">Riska novērtējums</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Preventīvi pasākumi</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/practical-tools" target="_blank">Rīki un norādījumi</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/lv/tools-and-publications/legislation" target="_blank">Tiesību akti</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Risks konkrētās grupās</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Risks konkrētās grupās</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Kancerogēnās vielas</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Kancerogēnās vielas<br />
</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Priekšrocības</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Priekšrocības<br />
</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Preventīvi pasākumi</span></span></div></div>
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
