
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Kif timmaniġġja s-sustanzi perikolużi?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Għall-esperjenza sħiħa,
          <br>jekk jogħġbok uża skrin akbar
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">In-negozju tiegħek juża sustanzi perikolużi?
                <br /> Inti konxju mir-riskji li s-sustanzi perikolużi joħolqu għall-ħaddiema u mill-benefiċċji li jkun hemm jekk tindirizzahom?
              </p>
              <p>Din l-infografika tintroduċi l-fatti bażiċi, ir-riskji ewlenin u l-miżuri ta’ prevenzjoni. Skopri l-gwida u l-bosta għodda prattiċi li jistgħu jgħinuk timmaniġġja r-riskji.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-mt">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Immaniġġja s-Sustanzi Perikolużi</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Esponiment</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Esponiment</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Setturi f’riskju par...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Setturi f’riskju partikolari</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Effetti fuq is-saħħa</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Effetti fuq is-saħħa</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Esponiment</h2>
                                <p>Intrapriżi kbar ta’ spiss jużaw aktar minn 1,000 prodott kimiku differenti (eż. żebgħa, linka, kolla u prodotti tat-tindif) u miljuni ta’ ħaddiema jiġu f’kuntatt ma’ aġenti kimiċi u bijoloġiċi li jistgħu jagħmlulhom ħsara. Madankollu, ħafna ħaddiema mhumiex konxji li jkunu qed jiġu f’kuntatt ma’ sustanzi perikolużi.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/mt/surveys-and-statistics-osh/esener/2014mt" target="_blank">38% tal-intrapriżi fl-UE rrappurtaw li sustanzi kimiċi jew bijoloġiċi fil-forma ta’ likwidi, dħaħen jew trab kienu preżenti fuq il-postijiet tax-xogħol tagħhom (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span  style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Skont il-ħaddiema li ħadu sehem fl-istħarriġ fl-UE 17% rrappurtaw li kienu esposti għal prodotti jew sustanzi kimiċi għal minn tal-inqas kwart tal-ħin tax-xogħol tagħhom (Stħarriġ Ewropew dwar il-Kundizzjonijiet tax-Xogħol)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% rrappurtaw li ħadu n-nifs fil-fwar għal aktar minn kwart tal-ħin tax-xogħol tagħhom (Stħarriġ Ewropew dwar il-Kundizzjonijiet tax-Xogħol)</a></p>
                                <p class="progress-graph-container"><span style="margin-top: -8px;"  class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% rrappurtaw esponiment għal duħħan, dħaħen, sustanza f’forma ta’ trab u trab għal aktar minn kwart tal-ħin tax-xogħol tagħhom (Stħarriġ Ewropew dwar il-Kundizzjonijiet tax-Xogħol)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Setturi f’riskju partikolari <a class="info-link" href="https://osha.europa.eu/mt/surveys-and-statistics-osh/esener/2014mt" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Is-sustanzi perikolużi huma preżenti fis-setturi kollha, kemm jekk hu fis-setturi tradizzjonali bħall-agrikoltura, il-manifattura jew il-kostruzzjoni, kif ukoll f’setturi ‘ġodda u emerġenti’ bħar-riċiklaġġ jew il-kura fid-djar. It-teknoloġiji ġodda, is-setturi li jespandu u l-bidliet fil-mod kif jiġi organizzat ix-xogħol jistgħu jirriżultaw f'riskju akbar ta' periklu minn aġenti kimiċi. L-esponiment għas-sustanzi perikolużi kien irrappurtat f’setturi differenti b'dawn il-perċentwali:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>L-agrikoltura, il-forestrija u s-sajd </span> <span class="line-chart"><span class="number">52</span>Il-manifattura</span> <span class="line-chart"><span class="number">51</span>Il-kostruzzjoni, l-immaniġġjar tal-iskart, u l-provvista tal-ilma u tal-elettriku</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Riskji ta’ gruppi speċifiċi <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Ċerti gruppi ta’ ħaddiema jistgħu jkunu f’riskju akbar ta’ esponiment għal sustanzi perikolużi fuq il-post tax-xogħol minħabba li ma għandhomx esperjenza, mhumiex konxji jew fiżikament huma aktar vulnerabbli. Il-persuni li ta’ spiss jibdlu l-impjieg jew li jkunu f’xogħol temporanju jew informali wkoll jistgħu jkunu f’riskju akbar. Ħaddiema oħra wkoll jistgħu jkunu vulnerabbli f’ċertu żmien għal raġunijiet differenti, pereżempju fit-twettiq ta’ attività ta’ xogħol li għandha riskju għoli u li mhijiex ta’ rutina bħax-xogħol ta’ manutenzjoni.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">In-nisa</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Il-ħaddiema żgħażagħ</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Il-ħaddiema migranti</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Il-persuni f’xogħol temporanju jew informali</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Il-ħaddiema li ma għandhomx taħriġ u informazzjoni</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Karċinoġeni <a class="info-link" href="https://healthy-workplaces.eu/mt/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>L-esponiment għall-karċinoġeni fuq il-post tax-xogħol jikkawża l-maġġoranza tal-mard okkupazzjonali fatali fl-UE. Ħafna minn dawn l-imwiet ikunu jistgħu jiġu evitati. Hemm dispożizzjonijiet speċifiċi fl-UE biex jiġu protetti l-ħaddiema: skont id-Direttiva dwar il-Karċinoġeni u l-Mutaġeni, l-impjegaturi jridu jivvalutaw u jevitaw jew inaqqsu l-esponiment għall-karċinoġeni jew il-mutaġeni. L-EU-OSHA hija waħda minn sitt imsieħba li jappoġġaw il-Pjan Direzzjonali dwar l-Inizjattiva tal-Karċinoġeni.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">1.6 miljun</span></strong> Kull sena, fl-Ewropa madwar 1.6 miljun persuna tal-età tax-xogħol jiġu dijanjostikati bil-kanċer.
                                </p>
                                <p class="big-number-chart"><strong>Aktar minn <span class="number">120,000 persuna</span></strong>Huwa stmat li kull sena, fl-UE aktar minn 120,000 persuna jiżviluppaw kanċer minħabba l-esponiment għall-karċinoġeni fuq il-post tax-xogħol
                                </p>
                                <p class="big-number-chart"><strong>Hemm madwar <span class="number">80,000 mewta</span></strong>Kull sena jkun hemm madwar 80,000 mewta minħabba l-esponiment għall-karċinoġeni fuq il-post tax-xogħol
                                </p>
                                <p class="big-number-chart"><strong>Madwar <span class="number"> 53% tal-imwiet relatati max-xogħol</span></strong> huma kkawżati mill-karċinoġeni
                                </p>
                                <p class="big-number-chart"><strong><span class="number">EUR 2.4 biljun</span> kull sena</strong> Kull sena fl-Ewropa jintefqu EUR 2.4 biljun bħala spejjeż diretti tal-esponiment għall-karċinoġeni fuq il-post tax-xogħol
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Benefiċċji <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Kulħadd jibbenefika minn immaniġġjar effiċjenti ta’ sustanzi perikolużi fuq il-post tax-xogħol. L-immaniġġjar attiv u parteċipattiv tas-sigurtà u tas-saħħa jagħmel negozju aktar kompetittiv, billi pereżempju jżid il-produttività.
                                </p>
                                <ol class="big-list">
                                  <li>Titjib fis-saħħa tal-ħaddiema</li>
                                  <li>Inqas assenza minħabba mard</li>
                                  <li>Tnaqqis fl-infiq fuq miżuri ta’ kontroll, tagħmir ta’ protezzjoni personali u sorveljanza tas-saħħa</li>
                                  <li>Iffrankar fl-ispejjeż tal-protezzjoni kontra n-nirien u l-isplużjonijiet</li>
                                  <li>Tnaqqis fl-ispejjeż tar-rimi tal-iskart</li>
                                  <li>Reputazzjoni mtejba f’għajnejn il-klijenti u l-konsumaturi</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Effetti fuq is-saħħa</h2>
                                <p>Il-problemi tas-saħħa li jistgħu jiġu kkawżati meta wieħed jaħdem b'sustanzi perikolużi jvarjaw minn irritazzjoni ħafifa tal-għajnejn u tal-ġilda sa effetti serji, bħal difetti fit-twelid u kanċer. L-effetti jistgħu jkunu akuti jew fit-tul, u ċerti sustanzi jistgħu jkollhom effett kumulattiv.
                                </p>
                                <p><a class="link" href="http://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Mard tal-ġilda</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allerġiji
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Mard respiratorju</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Kanċer
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemi fir-riproduzzjoni u difetti fit-twelid
                                  </a>
                                  <br />
                                  <span class="link">Ħsara lill-moħħ u lis-sistema nervuża</span>
                                  <br />
                                  <span class="link">Avvelenament</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Miżuri ta’ prevenzjoni <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Biex il-ħaddiema jiġu protetti minn sustanzi perikolużi, l-ewwel pass huwa li ssir valutazzjoni tar-riskju. Imbagħad, għandhom jittieħdu azzjonijiet biex kemm jista' jkun jitneħħew jew jitnaqqsu r-riskji. Il-leġiżlazzjoni Ewropea dwar il-protezzjoni tal-ħaddiema tistabbilixxi ġerarkija ta' miżuri li l-impjegaturi jridu jieħdu sabiex jikkontrollaw ir-riskji ta’ sustanzi perikolużi.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminazzjoni tas-sustanzi perikolużi</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/infosheet-substitution" target="_blank">Sostituzzjoni b’sustanzi, prodotti kimiċi jew proċessi li huma inqas perikolużi</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Miżuri tekniċi, bħall-eżawriment</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Miżuri organizzazzjonali, bħas-separazzjoni tal-postijiet tax-xogħol</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Tagħmir ta’ protezzjoni personali</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Immaniġġja s-Sustanzi Perikolużi <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Is-sustanzi perikolużi jinstabu kważi fuq il-postijiet tax-xogħol kollha. Fl-Ewropa, miljuni ta’ ħaddiema jiġu f’kuntatt ma’ likwidu, gass jew aġenti solidi li jippreżentaw riskju għas-saħħa jew għas-sigurtà tal-ħaddiema.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/mt/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Kultura ta’ prevenzjoni
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/ds-e-tool" target="_blank">Valutazzjoni tar-riskju</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Miżuri ta’ prevenzjoni</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/practical-tools" target="_blank">Għodda u Gwida</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/mt/tools-and-publications/legislation" target="_blank">Leġiżlazzjoni</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Riskji ta’ gruppi sp...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Riskji ta’ gruppi speċifiċi</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Karċinoġeni</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Karċinoġeni</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Benefiċċji</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Benefiċċji</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Miżuri ta’ prevenzjoni</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
