
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Jak kontrolować substancje niebezpieczne</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Aby w pełni skorzystać z możliwości strony internetowej,
          <br>proszę użyć większego ekranu
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">
    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Czy twoje przedsiębiorstwo stosuje substancje niebezpieczne?
                <br />
                Czy jesteś świadomy(-a) zagrożeń, jakie stwarzają substancje niebezpieczne dla pracowników oraz korzyści z ich stosowania?
              </p>
              <p>Diagram przedstawia podstawowe fakty, główne zagrożenia i środki zapobiegawcze. Zapoznaj się ze wskazówkami i wieloma praktycznymi narzędziami, które mogą pomóc ci w zarządzaniu ryzykiem.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-pl">
            <div class="top-region click-region">
              <div class="block-region-top">
                <div>


                  <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-title"><span class="field-content"><span>Substancje niebezpieczne pod kontrolą</span></span></div></div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Narażenie</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Narażenie</span></span></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Sektory o szczególny...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Sektory o szczególnym ryzyku</span></span></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Skutki dla zdrowia</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Skutki dla zdrowia<br />
</span></span></div></div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>


                      <div class="nid-3 views-row" data-id="3"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Narażenie</h2>
                                <p>Duże przedsiębiorstwa często stosują ponad 1000 różnych produktów chemicznych (np. farby, atramenty, kleje i środki czyszczące), a miliony pracowników wchodzi w kontakt z czynnikami chemicznymi i biologicznymi, które mogą mieć szkodliwe oddziaływanie. Jednak wielu pracowników jest nieświadomych, że ma do czynienia z substancjami niebezpiecznymi.
                                </p>
                                <p class="progress-graph-container"><span style="margin-top: -8px;" class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/pl/surveys-and-statistics-osh/esener/2014pl" target="_blank">38% unijnych przedsiębiorstw zgłaszało, że substancje chemiczne lub biologiczne w postaci płynów, oparów lub pyłu występowały w ich miejscach pracy (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span style="margin-top: -8px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/pl/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Według ankietowanych pracowników w UE: 17% zgłaszało narażenie na produkty lub substancje chemiczne przez co najmniej 25% czasu pracy (badanie warunków pracy w Europie);</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/pl/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11% zgłaszało wdychanie oparów przez ponad 25% czasu pracy (badanie warunków pracy w Europie);</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/pl/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15% zgłaszało narażenie na dym, opary, pył i kurz przez ponad 25% czasu pracy (badanie warunków pracy w Europie).</a></p></div></div></div></div></div>

                      <div class="nid-4 views-row" data-id="4"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Sektory o szczególnym ryzyku <a class="info-link" href="https://osha.europa.eu/pl/surveys-and-statistics-osh/esener/2014pl" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Substancje niebezpieczne występują we wszystkich sektorach, począwszy od tradycyjnych sektorów jak rolnictwo, produkcja przemysłowa czy budownictwo, a skończywszy na nowych i wschodzących sektorach, jak recykling i opieka domowa. Nowe technologie, rozwijające się sektory i zmiany w sposobie organizacji pracy mogą zwiększać ryzyko szkód powodowanych przez czynniki chemiczne. Narażenie na substancje niebezpieczne zgłoszono w różnych sektorach (wyrażone w %):
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Rolnictwo, leśnictwo i rybołówstwo</span> <span class="line-chart"><span class="number">52</span>Produkcja przemysłowa</span> <span class="line-chart"><span class="number">51</span>Budownictwo, gospodarowanie odpadami, dostawa wody i energii elektrycznej</span>
                                </p></div></div></div></div></div>

                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Zagrożenia związane z określonymi grupami <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Niektóre grupy pracowników mogą być narażone na zwiększone ryzyko narażenia na substancje niebezpieczne ze względu na małe doświadczenie, niską świadomość lub większą podatność na ich działanie. Osoby często zmieniające pracę, pracujące tymczasowo lub nieformalnie mogą być również narażone na wyższe ryzyko. Pozostali pracownicy mogą być również okresowo narażeni z różnych przyczyn, np. przeprowadzając nierutynowe działania o wysokim ryzyku, jak prace konserwacyjne.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Kobiety</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Młodzi pracownicy</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Pracownicy migrujący</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Osoby pracujące tymczasowo lub nieformalnie</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Pracownicy bez odpowiedniego wyszkolenia i informacji</a>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Substancje rakotwórcze <a class="info-link" href="https://healthy-workplaces.eu/pl/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Narażenie na substancje rakotwórcze w miejscu pracy jest przyczyną większości śmiertelnych chorób zawodowych w UE. Wielu przypadków śmierci można byłoby uniknąć.  W UE istnieją konkretne przepisy mające na celu ochronę pracowników: zgodnie z dyrektywą w sprawie czynników rakotwórczych i mutagenów pracodawcy muszą dokonywać oceny narażenia na czynniki rakotwórcze i mutageny oraz dążyć do wyeliminowania lub zminimalizowania narażenia na nie. EU-OSHA jest jednym z sześciu partnerów wspierających plan działania w sprawie czynników rakotwórczych.
                                </p>
                                <p class="big-number-chart"><strong>Ok. <span class="number">1,6 mln</span></strong>
                                  Każdego roku u ok. 1,6 mln aktywnych zawodowo osób w Europie diagnozuje się nowotwory.
                                </p>
                                <p class="big-number-chart"><strong>Ponad <span class="number">120 tys. osób</span></strong>Szacuje się, że u ponad 120 tys. osób co roku rozwija się nowotwór w wyniku narażenia na czynniki rakotwórcze w miejscu pracy.
                                </p>
                                <p class="big-number-chart"><strong>Ok. <span class="number">80 tys. zgonów </span></strong> Co roku notuje się ok. 80 tys. zgonów w wyniku narażenia na czynniki rakotwórcze w miejscu pracy.
                                </p>
                                <p class="big-number-chart"><strong>Ok. <span class="number">53% wszystkich zgonów związanych z pracą </span></strong> spowodowanych jest przez czynniki rakotwórcze
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 mld euro</span></strong> Bezpośrednie koszty narażenia na czynniki rakotwórcze w europejskich miejscach pracy Europie szacuje się na 2,4 mld euro.
                                </p>
                                <p>&nbsp;
                                </p>







                              </div></div></div></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Korzyści <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Każdy odnosi korzyści ze skutecznego zarządzania substancjami niebezpiecznymi w miejscu pracy. Czynne zarządzanie BHP z udziałem pracowników oznacza większą konkurencyjność przedsiębiorstwa, np. poprzez poprawę wydajności produkcji.
                                </p>
                                <ol class="big-list">
                                  <li>Lepsze zdrowie pracowników</li>
                                  <li>Niższa absencja chorobowa</li>
                                  <li>Ograniczenie wydatków z tytułu środków kontroli, środków ochrony indywidualnej lub profilaktycznej opieki lekarskiej;</li>
                                  <li>Ograniczenie kosztów ochrony przeciwpożarowej i ochrony przed wybuchami;</li>
                                  <li>Obniżone koszty unieszkodliwiania odpadów</li>
                                  <li>Poprawiona reputacja w oczach klientów i konsumentów</li>
                                </ol>
                              </div></div></div></div></div>

                      <div class="nid-8 views-row" data-id="8"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Skutki dla zdrowia
                                </h2>
                                <p>Problemy zdrowotne, które mogą być powodowane pracą z niebezpiecznymi substancjami, są bardzo zróżnicowane: od łagodnych podrażnień oczu i skóry, po poważne skutki, takie jak wady wrodzone i choroby nowotworowe. Skutki mogą być dotkliwe lub przewlekłe, a w przypadku niektórych substancji obserwuje się ich kumulację.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Choroby skóry</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergie
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Choroby układu oddechowego</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Nowotwory
                                  </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemy z płodnością i wady wrodzone
                                  </a><br />
                                  <span class="link">Uszkodzenia mózgu i systemu nerwowego</span>
                                  <br />
                                  <span class="link">Zatrucia</span>
                                </p>
                              </div></div></div></div></div>

                      <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Środki zapobiegawcze <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Pierwszym krokiem w ochronie pracowników przed niebezpiecznymi substancjami jest przeprowadzenie oceny ryzyka. Następnie należy podjąć działania służące usunięciu lub zminimalizowaniu ryzyka. Europejskie prawodawstwo dotyczące ochrony pracowników ustanawia hierarchię działań, które pracodawcy powinni realizować w celu kontroli zagrożeń wynikających ze stosowania niebezpiecznych substancji.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminacja substancji niebezpiecznych</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/infosheet-substitution" target="_blank">Zastąpienie mniej niebezpiecznymi substancjami, produktami chemicznymi lub procesami</a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Działania techniczne, np. wyczerpanie </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Środki organizacyjne, np. wydzielanie miejsc pracy </a><br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Środki ochrony indywidualnej
                                  </a>
                                </p>
                              </div></div></div></div></div>


                      <div class="nid-1 views-row" data-id="1"><div class="views-field views-field-body"><div class="field-content"><div class="row"><div class="col-4">  <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />


                              </div><div class="col-8"><h2>Substancje niebezpieczne pod kontrolą <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a>
                                </h2>
                                <p>Substancje niebezpieczne występują prawie we wszystkich miejscach pracy. W Europie miliony pracowników mają styczność z czynnikami w formie płynnej, lotnej lub stałej stwarzającymi zagrożenie dla zdrowia lub bezpieczeństwa pracowników.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/pl/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Kultura zapobiegania
                                  </a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/ds-e-tool" target="_blank">Ocena ryzyka</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Środki zapobiegawcze</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/practical-tools" target="_blank">Narzędzia i wskazówki</a><br />
                                  <a class="link" href="https://healthy-workplaces.eu/pl/tools-and-publications/legislation" target="_blank">Przepisy prawne</a>
                                </p>
                              </div></div></div></div></div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>


                      <div class="nid-5 views-row" data-id="5"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Zagrożenia związane ...</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Zagrożenia związane z określonymi grupami</span></span></div></div>

                      <div class="nid-6 views-row" data-id="6"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Substancje rakotwórcze</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Substancje rakotwórcze</span></span></div></div>

                      <div class="nid-7 views-row" data-id="7"><div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Korzyści</span></span></div><div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Korzyści</span></span></div></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>


                  <div class="nid-2 views-row" data-id="2"><div class="views-field views-field-title"><span class="field-content"><span>Środki zapobiegawcze<br />
</span></span></div></div>
                </div>

              </div>
            </div>
          </div>


          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
