
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Como gerir substâncias perigosas</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Para usufruir ao máximo da experiência,
          <br>recomendamos a utilização de um ecrã maior.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <header class="layout-header">
      <div class="container">
        <div>
          <div id="block-headerloghi">

            <div>
              <p><img alt="Euosha logos" src="/{{ base_path ~ directory }}/images/external-infographic-images/logos.png" class="align-left"></p>
            </div>

          </div>
          <div id="block-headersocial">

            <div>
              <p>#Euhealthyworkplaces</p>

              <div id="icons">
                <a href="https://twitter.com/eu_osha" target="_blank"><img alt="EU OSHA in Twitter" src="/{{ base_path ~ directory }}/images/external-infographic-images/twitter-icon.png" title="Twitter"></a>
                <a href="https://www.facebook.com/EuropeanAgencyforSafetyandHealthatWork" target="_blank"><img alt="EU OSHA Facebook Page" src="/{{ base_path ~ directory }}/images/external-infographic-images/facebook-icon.png" title="Facebook"></a>
                <a href="http://www.linkedin.com/company/european-agency-for-safety-and-health-at-work" target="_blank"><img alt="Follow EU OSHA in LinkedIn" src="/{{ base_path ~ directory }}/images/external-infographic-images/linkedin-icon.png" title="LinkedIn"></a>
                <a href="https://www.youtube.com/user/EUOSHA" target="_blank"><img alt="EU OSHA channel in Youtube" src="/{{ base_path ~ directory }}/images/external-infographic-images/youtube-icon.png" title="Youtube"></a>
                <a href="https://www.flickr.com/photos/euosha/albums" target="_blank"><img alt="EU OSHA Flickr photos" src="/{{ base_path ~ directory }}/images/external-infographic-images/flickr-icon.png" title="Flickr"></a>
                <a href="https://osha.europa.eu/tools-and-resources/blog"><img alt="EU OSHA Blog with more information in workplace safety and health" src="/{{ base_path ~ directory }}/images/external-infographic-images/blogger-icon.png" title="Blog"></a>
              </div>
            </div>

          </div>

        </div>

        <div class="clear">&nbsp;</div>
      </div>
    </header>

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">A sua empresa utiliza substâncias perigosas?
                <br /> Tem conhecimento dos riscos que as substâncias perigosas representam para os trabalhadores e dos benefícios de gerir esses riscos?
              </p>
              <p>Esta infografia apresenta os factos essenciais, os principais riscos e as medidas de prevenção. Informe-se sobre as orientações e os vários instrumentos práticos que lhe podem ser úteis na gestão de riscos.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-pt">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Gerir as substâncias perigosas</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exposição<br />
</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exposição<br />
</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Setores de risco esp...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Setores de risco especial</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Efeitos na saúde</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Efeitos na saúde</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Exposição
                                </h2>
                                <p>As grandes empresas utilizam frequentemente mais de 1000 produtos químicos diferentes (por exemplo, tintas, colas e produtos de limpeza) e milhões de trabalhadores entram em contacto com agentes químicos e biológicos que podem ser nocivos para a sua saúde. No entanto, muitos trabalhadores não estão conscientes de que lidam com substâncias perigosas.
                                </p>
                                <p class="progress-graph-container"><span style="margin-top: -8px;"    class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/pt/surveys-and-statistics-osh/esener/2014pt" target="_blank">38 % das empresas da UE comunicaram a presença de substâncias químicas ou biológicas sob a forma de líquidos, fumos ou poeiras nos seus locais de trabalho (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span style="margin-top: 6px;"  class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/pt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Segundo os trabalhadores inquiridos na UE 17 % dos inquiridos afirmaram ter sido expostos a substâncias ou a produtos químicos durante, pelo menos, um quarto do seu tempo de trabalho (Inquérito Europeu às Condições de Trabalho)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/pt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 % dos inquiridos afirmaram ter respirado vapores durante mais de um quarto do seu tempo de trabalho (Inquérito Europeu às Condições de Trabalho)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" style="margin-top: -8px;"   data-progress="15">-</span><a href="https://www.eurofound.europa.eu/pt/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 % assinalaram ter respirado fumos, vapores e pó durante mais de um quarto do seu tempo de trabalho (Inquérito Europeu às Condições de Trabalho)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Setores de risco especial <a class="info-link" href="https://osha.europa.eu/pt/surveys-and-statistics-osh/esener/2014pt" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Em todos setores existem substâncias perigosas, quer se trate de setores tradicionais como a agricultura, a indústria transformadora ou a construção, ou de setores «novos e emergentes» como a reciclagem ou os cuidados domiciliários. As novas tecnologias, os setores em expansão e as alterações introduzidas na organização do trabalho podem aumentar o risco de danos causados por agentes químicos. Foram comunicadas as seguintes percentagens de exposição a substâncias perigosas nos seguintes setores:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Agricultura, silvicultura e pesca</span> <span class="line-chart"><span class="number">52</span>Indústrias transformadoras</span> <span class="line-chart"><span class="number">51</span>Construção, gestão de resíduos, abastecimento de água e de eletricidade</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Riscos de grupos específicos <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Certos grupos de trabalhadores podem ter um risco mais elevado de exposição a substâncias perigosas no local de trabalho por serem inexperientes, não terem consciência dos riscos ou serem fisicamente mais vulneráveis. As pessoas que mudam frequentemente de emprego, bem como os trabalhadores temporários ou informais, podem também apresentar um risco mais elevado. Outros trabalhadores podem também ser vulneráveis em determinadas alturas por diferentes razões, por exemplo, quando realizam atividades de elevado risco ou não rotineiras, tais como trabalhos de manutenção.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Mulheres</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Jovens trabalhadores</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Trabalhadores migrantes</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Pessoas em trabalho temporário ou informal</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Trabalhadores sem formação e informação</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Agentes cancerígenos <a class="info-link" href="https://healthy-workplaces.eu/pt/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>A exposição a agentes cancerígenos no local de trabalho está na origem da maioria das doenças profissionais mortais na UE. Muitas destas mortes poderiam ser evitadas. Existem disposições específicas na UE para proteger os trabalhadores: de acordo com a Diretiva relativa aos agentes cancerígenos e mutagénicos, os empregadores são obrigados a avaliar e a evitar ou minimizar a exposição a agentes cancerígenos ou mutagénicos. A EU-OSHA é um dos seis parceiros que apoiam a iniciativa «Roteiro para os agentes cancerígenos».
                                </p>
                                <p class="big-number-chart"><strong>Cerca de <span class="number">1,6 milhões</span></strong> Na Europa, são diagnosticadas com cancro cerca de 1,6 milhões de pessoas em idade ativa todos os anos.
                                </p>
                                <p class="big-number-chart"><strong>Mais de <span class="number">120 000 pessoas</span></strong>Calcula-se que mais de 120 000 pessoas por ano desenvolvam cancro na UE em resultado da exposição profissional a agentes cancerígenos.
                                </p>
                                <p class="big-number-chart"><strong>Cerca de <span class="number">80 000 mortes</span></strong> Ocorrem anualmente cerca de 80 000 mortes por exposição profissional a agentes cancerígenos.
                                </p>
                                <p class="big-number-chart"><strong>Cerca de <span class="number">53 % de todas as mortes relacionadas com o trabalho</span></strong> são causadas por agentes cancerígenos.
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 mil milhões de euros</span> por ano </strong> são os custos diretos de exposição a agentes cancerígenos durante o trabalho em toda a Europa.
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Benefícios <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>A gestão eficiente das substâncias perigosas no local de trabalho é benéfica para todos. Uma gestão ativa e participativa da segurança e da saúde torna as empresas mais competitivas, por exemplo melhorando a produtividade.
                                </p>
                                <ol class="big-list">
                                  <li>Melhoria da saúde dos trabalhadores</li>
                                  <li>Diminuição da ausência por doença</li>
                                  <li>Menos gastos em medidas de controlo, equipamentos de proteção individual e vigilância da saúde</li>
                                  <li>Economias nos custos de proteção contra incêndios e explosões</li>
                                  <li>Redução dos custos da eliminação dos resíduos</li>
                                  <li>Melhor reputação aos olhos dos cliente e dos consumidores</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Efeitos na saúde</h2>
                                <p>O trabalho com substâncias perigosas pode causar vários problemas de saúde que vão desde irritação ocular e cutânea ligeira a efeitos graves, tais como malformações congénitas e cancro. Os efeitos podem agudos ou crónicos, havendo substâncias com um potencial efeito cumulativo.
                                </p>
                                <p><a class="link" href="http://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Doenças da pele</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergias
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Doenças respiratórias</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cancros
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Problemas de reprodução e malformações congénitas
                                  </a>
                                  <br />
                                  <span class="link">Danos no cérebro e no sistema nervoso</span>
                                  <br />
                                  <span class="link">Intoxicação</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Medidas de prevenção <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Para proteger os trabalhadores de substâncias perigosas, o primeiro passo a dar é a realização de uma avaliação dos riscos. Seguidamente, há que tomar medidas para eliminar ou reduzir os riscos tanto quanto possível. A legislação europeia em matéria de proteção dos trabalhadores estabelece uma hierarquia das medidas que os empregadores devem adotar para controlar os riscos das substâncias perigosas.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminação das substâncias perigosas</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/infosheet-substitution" target="_blank">Substituição por substâncias, produtos ou processos químicos menos perigosos</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Medidas técnicas como, por exemplo, a ventilação</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Medidas organizativas como, por exemplo, a separação dos locais de trabalho</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Equipamento de proteção individual</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Gerir as substâncias perigosas <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>As substâncias perigosas estão presentes em praticamente todos os locais de trabalho. Na Europa, milhões de trabalhadores estão expostos a agentes líquidos, gasosos ou sólidos que representam um risco para a sua saúde ou segurança.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/pt/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Cultura de prevenção
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/ds-e-tool" target="_blank">Avaliação de riscos</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Medidas de prevenção</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/practical-tools" target="_blank">Instrumentos e orientações</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/pt/tools-and-publications/legislation" target="_blank">Legislação</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Riscos de grupos esp...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Riscos de grupos específicos<br />
</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Agentes cancerígenos</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Agentes cancerígenos</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Benefícios</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Benefícios</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Medidas de prevenção</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
