
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Gestionarea substanțelor periculoase</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Pentru o experiență deplină,
          <br>utilizați un ecran mai mare
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <header class="layout-header">
      <div class="container">
        <div>
          <div id="block-headerloghi">

            <div>
              <p><img alt="Euosha logos" src="/{{ base_path ~ directory }}/images/external-infographic-images/logos.png" class="align-left"></p>
            </div>

          </div>
          <div id="block-headersocial">

            <div>
              <p>#Euhealthyworkplaces</p>

              <div id="icons">
                <a href="https://twitter.com/eu_osha" target="_blank"><img alt="EU OSHA in Twitter" src="/{{ base_path ~ directory }}/images/external-infographic-images/twitter-icon.png" title="Twitter"></a>
                <a href="https://www.facebook.com/EuropeanAgencyforSafetyandHealthatWork" target="_blank"><img alt="EU OSHA Facebook Page" src="/{{ base_path ~ directory }}/images/external-infographic-images/facebook-icon.png" title="Facebook"></a>
                <a href="http://www.linkedin.com/company/european-agency-for-safety-and-health-at-work" target="_blank"><img alt="Follow EU OSHA in LinkedIn" src="/{{ base_path ~ directory }}/images/external-infographic-images/linkedin-icon.png" title="LinkedIn"></a>
                <a href="https://www.youtube.com/user/EUOSHA" target="_blank"><img alt="EU OSHA channel in Youtube" src="/{{ base_path ~ directory }}/images/external-infographic-images/youtube-icon.png" title="Youtube"></a>
                <a href="https://www.flickr.com/photos/euosha/albums" target="_blank"><img alt="EU OSHA Flickr photos" src="/{{ base_path ~ directory }}/images/external-infographic-images/flickr-icon.png" title="Flickr"></a>
                <a href="https://osha.europa.eu/tools-and-resources/blog"><img alt="EU OSHA Blog with more information in workplace safety and health" src="/{{ base_path ~ directory }}/images/external-infographic-images/blogger-icon.png" title="Blog"></a>
              </div>
            </div>

          </div>

        </div>

        <div class="clear">&nbsp;</div>
      </div>
    </header>

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Întreprinderea dumneavoastră folosește substanțe periculoase?
                <br /> Cunoașteți riscurile pe care le prezintă substanțele periculoase pentru lucrători și avantajele pe care le presupune abordarea riscurilor?
              </p>
              <p>Acest grafic informativ prezintă faptele de bază, principalele riscuri și măsuri de prevenție. Aflați informații despre ghiduri și multe instrumente practice care vă pot ajuta să gestionați riscurile.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-ro">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Managementul substanțelor periculoase</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Expunerea</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Expunerea</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Sectoare cu riscuri ...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Sectoare cu riscuri deosebite</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Efectele asupra sănă...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Efectele asupra sănătății</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Expunerea</h2>
                                <p>În întreprinderile mari se folosesc adesea peste 1 000 de produse chimice diferite (de exemplu, vopsele, cerneluri, cleiuri și agenți de curățare), iar milioane de lucrători intră în contact cu agenți chimici și biologici care îi pot afecta. Mulți lucrători nu știu însă că sunt expuși la substanțe periculoase.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/ro/surveys-and-statistics-osh/esener/2014ro" target="_blank">38 % din întreprinderile din UE au raportat prezența unor substanțe chimice sau biologice sub formă de lichide, vapori sau praf la locurile lor de muncă (ESENER-2)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/ro/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Potrivit lucrătorilor intervievați în UE 17 % au raportat că sunt expuși la produse sau substanțe chimice cel puțin un sfert din timpul lor de lucru (Sondajul european privind condițiile de muncă)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/ro/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 % au raportat că respiră vapori mai mult de un sfert din timpul lor de lucru (Sondajul european privind condițiile de muncă)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/ro/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 % au raportat că sunt expuși la fum, vapori, pulberi și praf mai mult de un sfert din timpul lor de lucru (Sondajul european privind condițiile de muncă)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Sectoare cu riscuri deosebite <a class="info-link" href="https://osha.europa.eu/ro/surveys-and-statistics-osh/esener/2014ro" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>În toate sectoarele există substanțe periculoase, fie în sectoare tradiționale precum agricultura, industria prelucrătoare sau construcțiile, fie în sectoare „noi și emergente”, precum reciclarea sau îngrijirea la domiciliu. Noile tehnologii, sectoarele aflate în expansiune și schimbările în modul de organizare a muncii pot duce la creșterea riscului de vătămare aferent agenților chimici. Expunerea la substanțe periculoase a fost raportată în diferite sectoare, cu aceste procente:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Agricultură, silvicultură și pescuit</span> <span class="line-chart"><span class="number">52</span>Industria prelucrătoare</span> <span class="line-chart"><span class="number">51</span>Construcții, gestionarea deșeurilor și distribuția de apă și de energie electrică</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Riscuri pentru categorii specifice <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Anumite categorii de lucrători au un risc mai mare de expunere la substanțe periculoase la locul de muncă pentru că sunt lipsite de experiență, nu au cunoștință de riscuri sau sunt mai vulnerabile din punct de vedere fizic. Persoanele care își schimbă frecvent locul de muncă sau care desfășoară muncă temporară sau fără forme legale pot fi, de asemenea, expuse unor riscuri mai mari. Și alți lucrători pot fi vulnerabili în anumite momente, din diferite motive, de exemplu atunci când desfășoară activități excepționale de lucru, cu risc mare, cum ar fi activitățile de întreținere.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Femeile</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Lucrătorii tineri</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Lucrătorii migranți</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Persoanele cu activitate temporară sau fără forme legale</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Lucrători fără formare profesională și neinformați</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Agenții cancerigeni <a class="info-link" href="https://healthy-workplaces.eu/ro/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Expunerea la agenți cancerigeni la locul de muncă este cauza majorității bolilor profesionale fatale în UE. Multe dintre aceste decese ar putea fi prevenite. În UE există dispoziții specifice pentru protecția lucrătorilor: în temeiul Directivei privind agenții cancerigeni și mutageni, angajatorii trebuie să evalueze și să evite sau să reducă la minimum expunerea la agenți cancerigeni sau mutageni. EU-OSHA este unul dintre cei șase parteneri care susțin inițiativa „Foaia de parcurs privind agenții cancerigeni”.
                                </p>
                                <p class="big-number-chart"><strong>Aproximativ <span class="number">1,6 milioane</span></strong> de persoane de vârstă activă sunt diagnosticate anual cu cancer în Europa
                                </p>
                                <p class="big-number-chart"><strong>Peste <span class="number">120 000 de persoane</span></strong> Se estimează că, în UE, peste 120 000 de persoane pe an dezvoltă cancer ca urmare a expunerii profesionale la agenți cancerigeni
                                </p>
                                <p class="big-number-chart"><strong>Aproximativ <span class="number">80 000 de decese</span></strong> survin în fiecare an din cauza expunerii profesionale la agenți cancerigeni
                                </p>
                                <p class="big-number-chart"><strong>Aproximativ <span class="number">53 % din decesele profesionale</span></strong> sunt cauzate de agenți cancerigeni
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 miliarde EUR</span> pe an</strong> sunt costurile directe ale expunerii la agenți cancerigeni la locul de muncă în Europa
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Beneficii <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Toată lumea beneficiază de o gestionare eficientă a substanțelor periculoase la locul de muncă. Gestionarea activă, participativă a siguranței și a sănătății face ca o întreprindere să devină mai competitivă, de exemplu prin îmbunătățirea productivității.
                                </p>
                                <ol class="big-list">
                                  <li>Îmbunătățirea sănătății lucrătorilor</li>
                                  <li>Rată mai mică a absenteismului pe caz de boală</li>
                                  <li>Reducerea cheltuielilor asociate măsurilor de control, echipamentului individual de protecție și supravegherii sănătății</li>
                                  <li>Economisirea costurilor de protecție împotriva incendiilor și a exploziilor</li>
                                  <li>Reducerea costurilor de eliminare a deșeurilor</li>
                                  <li>Îmbunătățirea reputației în ochii consumatorilor și clienților</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Efectele asupra sănătății</h2>
                                <p>Problemele de sănătate care pot fi provocate de lucrul cu substanțe periculoase variază de la iritații minore ale ochilor și ale pielii până la efecte grave, precum malformații congenitale și cancer. Efectele pot fi acute sau de lungă durată, iar unele substanțe pot avea efect cumulativ.
                                </p>
                                <p><a class="link" href="http://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Boli de piele</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Alergii
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Boli respiratorii</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cancere
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Probleme de reproducere și malformații congenitale
                                  </a>
                                  <br />
                                  <span class="link">Leziuni ale creierului și ale sistemului nervos</span>
                                  <br />
                                  <span class="link">Otrăvire</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Măsuri de prevenție <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Pentru a asigura protecția lucrătorilor împotriva substanțelor periculoase, primul pas este evaluarea riscurilor. Apoi, trebuie luate măsuri pentru a elimina sau a reduce riscurile cât mai mult. Legislația europeană privind protecția lucrătorilor stabilește o ierarhie a măsurilor care trebuie adoptate de angajatori pentru a combate riscurile prezentate de substanțele periculoase.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminarea substanțelor periculoase</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/infosheet-substitution" target="_blank">Înlocuirea cu substanțe, produse chimice sau procese chimice mai puțin periculoase</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Măsuri tehnice, precum epuizarea</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Măsuri organizatorice, cum ar fi separarea locurilor de muncă</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Echipamentul individual de protecție</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Managementul substanțelor periculoase <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Există substanțe periculoase la aproape toate locurile de muncă. În Europa, milioane de lucrători intră în contact cu agenți lichizi, gazoși sau solizi, care prezintă riscuri pentru sănătatea sau securitatea lucrătorilor.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/ro/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Cultura prevenției
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/ds-e-tool" target="_blank">Evaluarea riscurilor</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Măsuri de prevenție</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/practical-tools" target="_blank">Instrumente și ghiduri</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/ro/tools-and-publications/legislation" target="_blank">Legislație</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Riscuri pentru categ...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Riscuri pentru categorii specifice</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Agenții cancerigeni</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Agenții cancerigeni</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Beneficii</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Beneficii</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Măsuri de prevenție</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
