
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
  <div id="overlay">
    <div class="outer">
      <div class="middle">
        <div id="inner">
          <div id="player"></div>
          <video autoplay="" muted="" class="videoSliderVideo" id="intro-video">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.mp4" type="video/mp4">
            <source src="/{{ base_path ~ directory }}/images/external-infographic-images/videointro.webm" type="video/webm">
          </video>
          <span id="close-overlay">Hur hanterar man farliga ämnen?</span>
        </div>
      </div>
    </div>
  </div>

  <div id="discaimer">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <img src="/{{ base_path ~ directory }}/images/external-infographic-images/bigger.png">
          <br>Använd en större bildskärm för
          <br>bästa möjliga användarupplevelse.
        </div>
      </div>
    </div>
  </div>
  <div class="layout-container">

    <header class="layout-header">
      <div class="container">
        <div>
          <div id="block-headerloghi">

            <div>
              <p><img alt="Euosha logos" src="/{{ base_path ~ directory }}/images/external-infographic-images/logos.png" class="align-left"></p>
            </div>

          </div>
          <div id="block-headersocial">

            <div>
              <p>#Euhealthyworkplaces</p>

              <div id="icons">
                <a href="https://twitter.com/eu_osha" target="_blank"><img alt="EU OSHA in Twitter" src="/{{ base_path ~ directory }}/images/external-infographic-images/twitter-icon.png" title="Twitter"></a>
                <a href="https://www.facebook.com/EuropeanAgencyforSafetyandHealthatWork" target="_blank"><img alt="EU OSHA Facebook Page" src="/{{ base_path ~ directory }}/images/external-infographic-images/facebook-icon.png" title="Facebook"></a>
                <a href="http://www.linkedin.com/company/european-agency-for-safety-and-health-at-work" target="_blank"><img alt="Follow EU OSHA in LinkedIn" src="/{{ base_path ~ directory }}/images/external-infographic-images/linkedin-icon.png" title="LinkedIn"></a>
                <a href="https://www.youtube.com/user/EUOSHA" target="_blank"><img alt="EU OSHA channel in Youtube" src="/{{ base_path ~ directory }}/images/external-infographic-images/youtube-icon.png" title="Youtube"></a>
                <a href="https://www.flickr.com/photos/euosha/albums" target="_blank"><img alt="EU OSHA Flickr photos" src="/{{ base_path ~ directory }}/images/external-infographic-images/flickr-icon.png" title="Flickr"></a>
                <a href="https://osha.europa.eu/tools-and-resources/blog"><img alt="EU OSHA Blog with more information in workplace safety and health" src="/{{ base_path ~ directory }}/images/external-infographic-images/blogger-icon.png" title="Blog"></a>
              </div>
            </div>

          </div>

        </div>

        <div class="clear">&nbsp;</div>
      </div>
    </header>

    <div class="layout-highlighted">
      <div class="container">
        <div>
          <div id="block-intro">

            <div>
              <div><img src="/{{ base_path ~ directory }}/images/external-infographic-images/intro1.png" class="align-left"><img src="/{{ base_path ~ directory }}/images/external-infographic-images//intro2.png" class="align-right"></div>

              <p class="lead">Använder ditt företag farliga ämnen?
                <br />Är du medveten om riskerna med farliga ämnen för arbetstagarna? Känner du till fördelarna med att riskerna hanteras?
              </p>
              <p>Denna infografik innehåller grundläggande fakta, huvudsakliga risker och förebyggande åtgärder. Läs om riktlinjerna och de många praktiska hjälpmedel som finns för att hjälpa dig hantera riskerna.
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>

    <main role="main" class="main ">

      <div class="layout-content container">
        <a id="main-content" tabindex="-1"></a>

        <div id="block-euosha-content">
          <div id="infogrphics" class="lang-sv">

            <div class="top-region click-region">
              <div class="block-region-top">
                <div>

                  <div class="nid-1 views-row" data-id="1">
                    <div class="views-field views-field-title"><span class="field-content"><span>Hantering av farliga ämnen<br />
</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="middle-region ">
              <div class="row">
                <div class="left-region click-region col-6">
                  <div class="block-region-left">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Exponering</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Exponering</span></span>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Särskilt riskutsatta...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Särskilt riskutsatta sektorer</span></span>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Hälsoeffekterna</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Hälsoeffekterna</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="center-region">
                  <div class="block-region-center">
                    <div>

                      <div class="nid-3 views-row" data-id="3">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/exposure.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Exponering</h2>
                                <p>Större företag använder ofta fler än 1 000 olika kemiska produkter (t.ex. färger, tryckfärger, lim och rengöringsmedel) och miljontals arbetstagare kommer i kontakt med kemiska och biologiska medel som kan skada dem. Men många arbetstagare är inte medvetna om att de har att göra med farliga ämnen.
                                </p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="38">-</span><a href="https://osha.europa.eu/sv/surveys-and-statistics-osh/esener/2014sv" target="_blank">38 % av företagen i EU rapporterade att det fanns kemiska eller biologiska ämnen i form av vätskor, rök eller damm på arbetsplatsen</a></p>
                                <p class="progress-graph-container"><span style="margin-top: 6px;" class="progress-graph" data-progress="17">-</span><a href="https://www.eurofound.europa.eu/sv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">Rapportering från arbetstagare i EU som ingick i undersökningen 17 % rapporterade att de exponerades för kemiska produkter eller ämnen under minst en fjärdedel av arbetstiden (Europeiska undersökningen om arbetsvillkor)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="11">-</span><a href="https://www.eurofound.europa.eu/sv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">11 % rapporterade att de andades in ånga under mer än en fjärdedel av arbetstiden (Europeiska undersökningen om arbetsvillkor)</a></p>
                                <p class="progress-graph-container"><span class="progress-graph" data-progress="15">-</span><a href="https://www.eurofound.europa.eu/sv/data/european-working-conditions-survey?locale=EN&amp;dataSource=EWCS2016&amp;media=png&amp;width=740&amp;question=y15_Q88&amp;plot=euBars&amp;countryGroup=linear&amp;subset=agecat_3&amp;subsetValue=All" target="_blank">15 % rapporterade att de exponerades för rök, gaser, pulver eller damm under mer än en fjärdedel av arbetstiden (Europeiska undersökningen om arbetsvillkor)</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-4 views-row" data-id="4">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/sectors_at_particular_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Särskilt riskutsatta sektorer <a class="info-link" href="https://osha.europa.eu/en/surveys-and-statistics-osh/esener/2014sv" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Farliga ämnen finns inom alla sektorer. De finns såväl inom traditionella sektorer som jordbruk, tillverkning och byggverksamhet som inom nya och framväxande sektorer som t.ex. återvinning och vård i hemmet. Ny teknik, växande sektorer och förändringar i hur arbetet är organiserat kan leda till större risk för skador från kemiska medel. Exponering för farliga ämnen inom olika sektorer rapporterades med dessa procenttal:
                                </p>
                                <p><span class="line-chart"><span class="number">62</span>Jordbruk, skogsbruk och fiske</span> <span class="line-chart"><span class="number">52</span>Tillverkning</span> <span class="line-chart"><span class="number">51</span>Byggverksamhet, avfallshantering och vatten- och elförsörjning </span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/group_At_risk.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Riskerna hos särskilda grupper <a class="info-link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Vissa grupper av arbetstagare kan löpa högre risk att exponeras för farliga ämnen på arbetsplatsen därför att de är oerfarna, omedvetna om riskerna eller fysiskt mer sårbara. Personer som ofta byter jobb eller som har ett tillfälligt eller ett informellt arbete kan också löpa högre risk. Andra arbetstagare kan också vara sårbara vid vissa tidpunkter av olika anledningar, t.ex. när de utför högriskarbeten som inte är rutinmässiga, t.ex. underhållsarbete.
                                </p>
                                <p><a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Women" target="_blank">Kvinnor</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk#Young_workers" target="_blank">Unga arbetstagare</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups#Migrant_workers " target="_blank">Migrerande arbetstagare</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Dangerous_substances_and_vulnerable_groups" target="_blank">Personer i tillfälligt eller informellt arbete</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Groups_at_risk" target="_blank">Arbetstagare som inte fått utbildning och information</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/carcinogens.png?itok=0_fAWsWM" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Cancerframkallande ämnen <a class="info-link" href="https://healthy-workplaces.eu/sv/priority-area/carcinogens" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Exponering för cancerframkallande ämnen på arbetsplatsen är orsaken till de flesta arbetsrelaterade sjukdomarna med dödlig utgång i EU. Många av dessa dödsfall kunde ha förebyggts. Det finns särskilda bestämmelser i EU för att skydda arbetstagare. Enligt direktivet om carcinogener och mutagena ämnen ska arbetsgivarna bedöma och undvika eller minimera exponeringen för cancerframkallande eller mutagena ämnen. EU-Osha är en av de sex partner som stödjer färdplanen om cancerframkallande ämnen.
                                </p>
                                <p class="big-number-chart"><strong>Omkring <span class="number">1,6 miljoner människor</span></strong> Varje år diagnosticeras omkring 1,6 miljoner människor i arbetsför ålder i Europa med cancer
                                </p>
                                <p class="big-number-chart"><strong>Drygt <span class="number"> 120 000 människor</span></strong> per år i EU beräknas utveckla cancer till följd av exponering för cancerframkallande ämnen på arbetsplatsen
                                </p>
                                <p class="big-number-chart"><strong>Omkring <span class="number"> 80 000 dödsfall</span></strong> Varje år inträffar omkring 80 000 dödsfall på grund av exponering för cancerframkallande ämnen på arbetsplatsen
                                </p>
                                <p class="big-number-chart"><strong>Ungefär <span class="number"> 53 % av alla arbetsrelaterade dödsfall</span></strong> orsakas av cancerframkallande ämnen
                                </p>
                                <p class="big-number-chart"><strong><span class="number">2,4 miljarder euro</span></strong> De direkta kostnaderna till följd av exponering för cancerframkallande ämnen på arbetsplatserna i Europa uppgår varje år till 2,4 miljarder euro
                                </p>
                                <p>&nbsp;
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/benefits.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Fördelarna <a class="info-link" href="https://visualisation.osha.europa.eu/osh-costs#!/" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Alla gynnas av att farliga ämnen på arbetsplatsen hanteras på ett effektivt sätt. Aktiv och delaktighetsbaserad arbetsmiljöledning gör företagen mer konkurrenskraftiga, t.ex. genom att produktiviteten förbättras.
                                </p>
                                <ol class="big-list">
                                  <li>Bättre hälsa hos arbetstagarna</li>
                                  <li>Lägre sjukfrånvaro</li>
                                  <li>Minskade utgifter för kontrollåtgärder, personlig skyddsutrustning och hälsokontroller</li>
                                  <li>Besparingar på brandskydd och explosionsskydd</li>
                                  <li>Minskade kostnader för avfallshantering</li>
                                  <li>Bättre rykte bland kunder och konsumenter</li>
                                </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-8 views-row" data-id="8">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/health-effects.png" width="190" height="247" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Hälsoeffekterna</h2>
                                <p>De hälsoproblem som kan orsakas av att arbeta med farliga ämnen sträcker sig från mindre ögon- och hudirritation till allvarliga effekter som fosterskador och cancer. Effekterna kan vara akuta eller långsiktiga, och vissa ämnen kan ha en kumulativ effekt.
                                </p>
                                <p><a class="link" href="http://oshwiki.eu/wiki/Work-related_skin_diseases" target="_blank">Hudsjukdomar</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Occupational_allergens" target="_blank">Allergier
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/practical-tools?search_api_views_fulltext=respiratory&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Sjukdomar i andningsvägarna</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Work-related_cancer" target="_blank">Cancer
                                  </a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Reproductive_effects_caused_by_chemical_and_biological_agents" target="_blank">Fruktsamhetsproblem och medfödda missbildningar
                                  </a>
                                  <br />
                                  <span class="link">Skada på hjärnan och nervsystemet</span>
                                  <br />
                                  <span class="link">Förgiftning</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-2 views-row" data-id="2">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/prevention-measuress.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Förebyggande åtgärder <a class="info-link" href="https://oshwiki.eu/wiki/Hierarchy_of_controls_applied_to_dangerous_substances" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>För att skydda arbetstagarna mot farliga ämnen är det första steget att göra en riskbedömning. Sedan bör åtgärder vidtas för att avlägsna eller minska riskerna så långt som möjligt. I den europeiska lagstiftningen om arbetstagarskydd fastställs en rangordning av åtgärder som arbetsgivare behöver vidta för att kontrollera riskerna med farliga ämnen.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/practical-tools?search_api_views_fulltext=elimination&amp;sort_by=search_api_relevance&amp;sort_order=DESC" target="_blank">Eliminering av farliga ämnen</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/infosheet-substitution" target="_blank">Ersättning med mindre farliga ämnen, kemiska produkter eller processer</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Engineering_controls" target="_blank">Tekniska åtgärder, t.ex. utsugssystem</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/Hierarchy_of_prevention_and_control_measures" target="_blank">Organisatoriska åtgärder, t.ex. åtskilda arbetsplatser</a>
                                  <br />
                                  <a class="link" href="https://oshwiki.eu/wiki/PPE" target="_blank">Personlig skyddsutrustning</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="nid-1 views-row" data-id="1">
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <div class="row">
                              <div class="col-4"> <img src="/{{ base_path ~ directory }}/images/external-infographic-images/dangerous-menage.png" width="219" height="292" alt="" typeof="Image" />

                              </div>
                              <div class="col-8">
                                <h2>Hantering av farliga ämnen <a class="info-link" href="https://oshwiki.eu/wiki/Dangerous_substances_(chemical_and_biological)" target="_blank"><img alt="info" src="/{{ base_path ~ directory }}/images/external-infographic-images/info.png" /></a></h2>
                                <p>Farliga ämnen finns på nästan alla arbetsplatser. Miljontals arbetstagare i Europa kommer i kontakt med vätskor, gaser eller fasta ämnen som utgör en risk för deras hälsa eller säkerhet.
                                </p>
                                <p><a class="link" href="https://healthy-workplaces.eu/sv/about-topic/how-can-dangerous-substances-be-managed" target="_blank">Förebyggande kultur
                                  </a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/ds-e-tool" target="_blank">Riskbedömning</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/case-studies?language%5Ben%5D=en&amp;sort=date" target="_blank">Förebyggande åtgärder</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/practical-tools" target="_blank">Hjälpmedel och riktlinjer</a>
                                  <br />
                                  <a class="link" href="https://healthy-workplaces.eu/sv/tools-and-publications/legislation" target="_blank">Lagstiftning</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="close-icon"><img src="/{{ base_path ~ directory }}/images/external-infographic-images/close.png" /></div>
                </div>
                <img class="col-7 globe" src="/{{ base_path ~ directory }}/images/external-infographic-images/globe.png" />
                <div class="right-region click-region col-6">
                  <div class="block-region-right">
                    <div>

                      <div class="nid-5 views-row" data-id="5">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Riskerna hos särskil...</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Riskerna hos särskilda grupper</span></span>
                        </div>
                      </div>

                      <div class="nid-6 views-row" data-id="6">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Cancerframkallande ämnen</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Cancerframkallande ämnen</span></span>
                        </div>
                      </div>

                      <div class="nid-7 views-row" data-id="7">
                        <div class="views-field views-field-title-1"><span class="field-content"><span class="tab-link vertical">Fördelarna</span></span>
                        </div>
                        <div class="views-field views-field-title"><span class="field-content"><span class="tab-link">Fördelarna</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-region click-region ">
              <div class="block-region-bottom">
                <div>

                  <div class="nid-2 views-row" data-id="2">
                    <div class="views-field views-field-title"><span class="field-content"><span>Förebyggande åtgärder</span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
  </div>
</div>
