{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div class="content-headings-related h2-related-articles">
  <h2>{{ 'Related resources' | trans }}</h2>
</div>

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% set count_file = 0 %}
      {% set count_youtube = 0 %}
      {% set count_publication = 0 %}
      {% set count_slideshare = 0 %}
      {% set count_infographic = 0 %}
      {% for item in items %}
        {% if  item.content['#node'].type.0.target_id == 'file' %}
          {% set count_file = count_file + 1 %}
          {% if count_file == 1 %}
            <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Files' | trans }}</span></h3>
          {% endif %}
          <div class="field-item file-field">{{ item.content }}</div>
        {% endif %}
        {% if  item.content['#node'].type.0.target_id ==  'youtube' %}
          {% set count_youtube = count_youtube + 1 %}
          {% if count_youtube == 1 %}
            <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Videos' | trans }}</span></h3>
          {% endif %}
          <div class="field-item youtube-field">{{ item.content }}</div>
        {% endif %}
        {% if  item.content['#node'].type.0.target_id ==  'publication' %}
          {% set count_publication = count_publication + 1 %}
          {% if count_publication == 1 %}
            <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Related publications' | trans }}</span></h3>
          {% endif %}
          <div class="field-item publication-field related-publications-in-articles">{{ item.content }}</div>
        {% endif %}
        {% if  item.content['#node'].type.0.target_id ==  'slideshare' %}
          {% set count_slideshare = count_slideshare + 1 %}
          {% if count_slideshare == 1 %}
            <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Presentations' | trans }}</span></h3>
          {% endif %}
          <div class="field-item slideshare-field">{{ item.content }}</div>
        {% endif %}
        {% if  item.content['#node'].type.0.target_id ==  'infographic' %}
          {% set count_infographic = count_infographic + 1 %}
          {% if count_infographic == 1 %}
            <h3 class="custom-border h3-files-resources h3-related-articles"><span>{{ 'Infographics' | trans }}</span></h3>
          {% endif %}
          <div class="field-item infographic-field field-{{ count_infographic }}">{{ item.content }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class='field__items'>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
